// chart scss
.morris-hover.morris-default-style {
    background-color: var(--#{$variable-prefix}header-bg) !important;
    .morris-hover-row-label {
        color: var(--black) !important;
    }
}

#morris-donut-example,
#morris-donut {
    svg {
        text {
            fill: $primary !important;
        }
    }
}

