{% load static %}
{% include './partials/main.html' %}
    <head>
       
        {% include './partials/title-meta.html' %}

        {% include './partials/head-css.html' %}

    </head>    
    <body>   
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            {% include './partials/left-sidebar.html' %}
            <!-- /Page Sidebar -->

            <!-- Page Content -->
            <div class="page-content">
                {% include './partials/navbar.html' %} 
                <!-- Page Inner -->
                <div class="page-inner">
                    <!-- Page Heading -->
                    {% include './partials/component/pageHeader.html' %}
                    <!-- Page Heading --> 
                </div>
                <!-- footer -->
                {% include './partials/footer.html' %}
                <!-- right sidebar -->
                {% include './partials/right-sidebar.html' %}
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
        {% include './partials/vendor-scripts.html' %}
    
    </body>
</html>