{% load static %}
{% include './partials/main.html' %}
    <head>
        
        {% include './partials/title-meta.html' %}

        {% include './partials/head-css.html' %}

       
        <!--Page Specific CSS Start-->
        <!--Footable-->
        <link href={% static "/js/plugins/footable/css/footable.bootstrap.min.css" %} rel="stylesheet">
        <link href={% static "/js/plugins/footable/css/FooTable.FontAwesome.css" %} rel="stylesheet">
        <!--Page Specific CSS End-->
    </head>    
    <body>

        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            {% include './partials/left-sidebar.html' %}
            <!-- /Page Sidebar -->

            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Header -->
                {% include './partials/navbar.html' %}
                <!-- /Page Header -->
                <!-- Page Inner -->
                <div class="page-inner">
                    <!-- Page Heading -->
                    {% include './partials/component/pageHeader.html' %}
                    <!-- Page Heading -->
                    
                    <div class="container-fluid" id="main-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card border mb-0">
                                    <div class="card-body">
        
                                        <h4 class="mt-0 header-title border-bottom">Sortable Table</h4>
                                        <p class="text-muted mb-24 fs-15">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient monte.</p>

                                        <div>
                                            <table id="footable_1" class="table table-striped" data-sorting="true">
                                                <thead>
                                                    <tr>
                                                        <th data-name="id" data-breakpoints="xs" data-type="number">ID</th>
                                                        <th data-name="firstName">First Name</th>
                                                        <th data-name="lastName">Last Name</th>
                                                        <th data-name="jobTitle" data-breakpoints="xs">Job Title</th>
                                                        <th data-name="startedOn" data-breakpoints="xs sm" data-type="date" data-format-string="MMMM Do YYYY">Started On</th>
                                                        <th data-name="dob" data-breakpoints="xs sm md" data-type="date" data-format-string="MMMM Do YYYY">Date of Birth</th>
                                                    </tr>
                                                </thead>
                                                
                                                <tr>
                                                    <td data-title="ID" data-breakpoints="xs">11</td>
                                                    <td>Maria</td>
                                                    <td>Hosler</td>
                                                    <td data-title="Job Title" data-breakpoints="xs">Auto Detailer</td>
                                                    <td data-title="Started On" data-breakpoints="xs sm">Jan 2011</td>
                                                    <td data-title="Date of Birth" data-breakpoints="xs sm md">10 Dec 1972</td>
                                                </tr>
                                                <tr>
                                                    <td>12</td>
                                                    <td>Isidra</td>
                                                    <td>Dragoo</td>
                                                    <td>Window Trimmer</td>
                                                    <td>Jan 2010</td>
                                                    <td>09 Feb 1974</td>
                                                </tr>
                                                <tr>
                                                    <td>13</td>
                                                    <td>Lakeshia</td>
                                                    <td>Sprinkle</td>
                                                    <td>Garment Presser</td>
                                                    <td>Oct 2012</td>
                                                    <td>12 Mar 1970</td>
                                                </tr>
                                                <tr>
                                                    <td>14</td>
                                                    <td>Marquia</td>
                                                    <td>Ardrey</td>
                                                    <td>Broadcast Maintenance Engineer</td>
                                                    <td>Aug 2010</td>
                                                    <td>15 Mar 1972</td>
                                                </tr>
                                                <tr>
                                                    <td>15</td>
                                                    <td>Jua</td>
                                                    <td>Bottom</td>
                                                    <td>Broadcast Maintenance Engineer</td>
                                                    <td>Oct 2012</td>
                                                    <td>06 Aug 1982</td>
                                                </tr>
                                                <tr>
                                                    <td>16</td>
                                                    <td>Delana</td>
                                                    <td>Sprouse</td>
                                                    <td>High School Librarian</td>
                                                    <td>Feb 2013</td>
                                                    <td>16 Oct 1966</td>
                                                </tr>
                                                <tr>
                                                    <td>17</td>
                                                    <td>Annamaria</td>
                                                    <td>Pennock</td>
                                                    <td>Photocopying Equipment Repairer</td>
                                                    <td>Mar 2010</td>
                                                    <td>06 Feb 1974</td>
                                                </tr>
                                                <tr>
                                                    <td>18</td>
                                                    <td>Junie</td>
                                                    <td>Leinen</td>
                                                    <td>Roller Skater</td>
                                                    <td>Jul 2012</td>
                                                    <td>07 Nov 1982</td>
                                                </tr>
                                                <tr>
                                                    <td>19</td>
                                                    <td>Charles</td>
                                                    <td>Hayton</td>
                                                    <td>Ships Electronic Warfare Officer</td>
                                                    <td>Feb 2011</td>
                                                    <td>14 Feb 1989</td>
                                                </tr>
                                                <tr>
                                                    <td>20</td>
                                                    <td>Lorriane</td>
                                                    <td>Roling</td>
                                                    <td>Industrial Waste Treatment Technician</td>
                                                    <td>Jul 2010</td>
                                                    <td>29 Jun 1977</td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Main Wrapper -->
                </div>
                <!-- footer -->
                {% include './partials/footer.html' %}

                <!-- right sidebar -->
                {% include './partials/right-sidebar.html' %}
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->

        {% include './partials/vendor-scripts.html' %}

        <!--FooTable-->
        <script src={% static "/js/plugins/footable/js/footable.min.js" %}></script>
        <script src={% static "/js/footable.init.js" %}></script>

    </body>
</html>