{% load static %}
{% include './partials/main.html' %}
    <head>
        {% include './partials/title-meta.html' %}

        {% include './partials/head-css.html' %}
    </head>    
    <body>

        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            {% include './partials/left-sidebar.html' %}
            <!-- /Page Sidebar -->

            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Header -->
                {% include './partials/navbar.html' %}
                <!-- /Page Header -->
                <!-- Page Inner -->
                <div class="page-inner">
                    <!-- Page Heading -->
                    {% include './partials/component/pageHeader.html' %}
                    <!-- Page Heading -->
                    
                    <div class="container-fluid" id="main-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card border mb-0">
                                    <div class="card-body">

                                        <h4 class="mt-0 header-title border-bottom">Grid System</h4>
                                        <p class="text-muted mb-24 fs-15">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient monte.</p>

                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped mb-0">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        Extra small devices
                                                        <small>Phones (&lt;768px)</small>
                                                    </th>
                                                    <th>
                                                        Small devices
                                                        <small>Tablets (≥768px)</small>
                                                    </th>
                                                    <th>
                                                        Medium devices
                                                        <small>Desktops (≥992px)</small>
                                                    </th>
                                                    <th>
                                                        Large devices
                                                        <small>Desktops (≥1200px)</small>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <th>Grid behavior</th>
                                                    <td>Horizontal at all times</td>
                                                    <td colspan="3">Collapsed to start, horizontal above breakpoints</td>
                                                </tr>
                                                <tr>
                                                    <th>Max container width</th>
                                                    <td>None (auto)</td>
                                                    <td>750px</td>
                                                    <td>970px</td>
                                                    <td>1170px</td>
                                                </tr>
                                                <tr>
                                                    <th>Class prefix</th>
                                                    <td><code>.col-xs-</code></td>
                                                    <td><code>.col-sm-</code></td>
                                                    <td><code>.col-md-</code></td>
                                                    <td><code>.col-lg-</code></td>
                                                </tr>
                                                <tr>
                                                    <th># of columns</th>
                                                    <td colspan="4">12</td>
                                                </tr>
                                                <tr>
                                                    <th>Max column width</th>
                                                    <td class="text-muted">Auto</td>
                                                    <td>60px</td>
                                                    <td>78px</td>
                                                    <td>95px</td>
                                                </tr>
                                                <tr>
                                                    <th>Gutter width</th>
                                                    <td colspan="4">30px (15px on each side of a column)</td>
                                                </tr>
                                                <tr>
                                                    <th>Nestable</th>
                                                    <td colspan="4">Yes</td>
                                                </tr>
                                                <tr>
                                                    <th>Offsets</th>
                                                    <td colspan="1" class="text-muted">N/A</td>
                                                    <td colspan="3">Yes</td>
                                                </tr>
                                                <tr>
                                                    <th>Column ordering</th>
                                                    <td class="text-muted">N/A</td>
                                                    <td colspan="3">Yes</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Main Wrapper -->
                </div>
                <!-- footer -->
                {% include './partials/footer.html' %}
                <!-- /Page Inner -->
                {% include './partials/right-sidebar.html' %}
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->

        {% include './partials/vendor-scripts.html' %} 

    </body>
</html>