// 
// Footer.scss
// 

footer {
    background-color: var(--light);
    .social-icon {
        display: flex;
        i {
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            border-radius: 50%;
            color: var(--gray-900);
            margin: 0px 5px;
            box-shadow: var(--shadow-sm);
            transition: all 0.5s ease;
            &:hover {
                transition: all 0.5s ease;
                transform: translateY(-2px);
                background-color: rgba($black, 0.6);
                color: $white;
            }
        }
    }
    .footer-menu {
        li {
            padding: 6px 0;
            a {
                color: $muted;
                font-size: 16px;
                transition: all 0.5s ease;
                &:hover {
                    color: var(--gray-900) !important;
                    padding: 0px 0px 0px 5px !important;
                    transition: all 0.5s ease;
                }
            }
        }
    }
    .footer-subcribe {
        form {
            position: relative;
            margin-top: 10px;
            input {
                width: 100%;
                padding: 10px 26px;
                border: 1px solid $gray-300;
                outline: none !important;
                background-color: var(--gray-200);
                padding-right: 10rem;
                color: var(--gray-900);
                &::placeholder {
                    color: var(--gray-900);
                }
            }
            button {
                position: absolute;
                top: 3px;
                bottom: 3px;
                right: 3px;
            }
        }
    }
}
