@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout1";
}
<!-- Start Banner -->
<section class="bg-page-head section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pages_banner_content">
                    <h1 class="fw-bold">Testimonials</h1>
                    <p>See what our clients are saying about our services.</p>
                    <div>
                        <a href="~/Contact" class="btn btn-custom btn-sm">Contact US</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Banner-->
<!-- Start Client -->
<section class="section pad_lan_client">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center">
                    <h2><span></span>Customers loving it</h2>
                    <p class="text-muted mx-auto mb-0 mt-4">Due to its widespread use as filler text for layouts, non-readability is of great importance.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12">
                <div id="landingtwo" class="owl-carousel">
                    <div class="text-center testi_boxes_landing mt-3 rounded">
                        <div class="bus_testi_icon_img position-relative text-custom">
                            <img src="~/images/testi/testi-1.jpg" alt="" class="img-fluid img-rounded rounded-circle mx-auto d-block">
                            <i class="mdi mdi-format-quote-open"></i>
                        </div>
                        <div class="mt-3">
                            <h5 class="client_review mx-auto text-center">“We cut our build times in half compared to our previous process. Love it.”</h5>
                            <p class="client_name text-center mb-0 mt-3 fw-bold">- Scott Ross</p>
                            <a class="text-custom" href="javascript:void(0)">Landik</a>
                        </div>
                    </div>
                    <div class="text-center testi_boxes_landing mt-3 rounded">
                        <div class="bus_testi_icon_img position-relative text-custom">
                            <img src="~/images/testi/testi-2.jpg" alt="" class="img-fluid img-rounded rounded-circle mx-auto d-block">
                            <i class="mdi mdi-format-quote-open"></i>
                        </div>
                        <div class="mt-3">
                            <h5 class="client_review mx-auto text-center">“The support team is super helpful. We're so glad to have them on call.”</h5>
                            <p class="client_name text-center mb-0 mt-3 fw-bold">- Scott Ross</p>
                            <a class="text-custom" href="javascript:void(0)">Landik</a>
                        </div>
                    </div>
                    <div class="text-center testi_boxes_landing mt-3 rounded">
                        <div class="bus_testi_icon_img position-relative text-custom">
                            <img src="~/images/testi/testi-3.jpg" alt="" class="img-fluid img-rounded rounded-circle mx-auto d-block">
                            <i class="mdi mdi-format-quote-open"></i>
                        </div>
                        <div class="mt-3">
                            <h5 class="client_review mx-auto text-center">“Reliability is what Landik is known for, and they've totally delivered this time.”</h5>
                            <p class="client_name text-center mb-0 mt-3 fw-bold">- Scott Ross</p>
                            <a class="text-custom" href="javascript:void(0)">Landik</a>
                        </div>
                    </div>
                    <div class="text-center testi_boxes_landing mt-3 rounded">
                        <div class="bus_testi_icon_img position-relative text-custom">
                            <img src="~/images/testi/testi-1.jpg" alt="" class="img-fluid img-rounded rounded-circle mx-auto d-block">
                            <i class="mdi mdi-format-quote-open"></i>
                        </div>
                        <div class="mt-3">
                            <h5 class="client_review mx-auto text-center">“We cut our build times in half compared to our previous process. Love it.”</h5>
                            <p class="client_name text-center mb-0 mt-3 fw-bold">- Scott Ross</p>
                            <a class="text-custom" href="javascript:void(0)">Landik</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Client -->
<!-- Start Client -->
<section class="section bg-light pb-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="mt-3">
                    <img src="~/images/client_side.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="section_title mt-3">
                    <h2><span></span>What our users have to say.</h2>
                    <p class="mb-0 mt-4 text-muted position-relative">Due to its widespread use as filler text for layouts, non-readability is of great importance.</p>
                </div>
                <div class="testi_content mt-5">
                    <p class="text-muted">More Over <a class="text-custom" href="javascript:void(0)">3200+ Customers</a></p>
                    <div class="owl-carousel" id="owl-demo">
                        <div class="testi position-relative mt-4">
                            <div class="testi-icon testi-left">
                                <i class="mdi mdi-format-quote-open"></i>
                            </div>
                            <div class="testi-desc">
                                <h3 class="testi-title mb-0 text-capitalize">“We all know the stigma around build times and the ever expanding arsenal of tooling in modern web apps.”</h3>
                                <h5 class="mt-4 mb-0 fw-bold">Robert Goodwin</h5>
                                <p class="text-muted">California USA</p>
                            </div>
                        </div>
                        <div class="testi position-relative mt-4">
                            <div class="testi-icon testi-left">
                                <i class="mdi mdi-format-quote-open"></i>
                            </div>
                            <div class="testi-desc">
                                <h3 class="testi-title mb-0 text-capitalize">“We all know the stigma around build times and the ever expanding arsenal of tooling in modern web apps.”</h3>
                                <h5 class="mt-4 mb-0 fw-bold">Robert Goodwin</h5>
                                <p class="text-muted">California USA</p>
                            </div>
                        </div>
                        <div class="testi position-relative mt-4">
                            <div class="testi-icon testi-left">
                                <i class="mdi mdi-format-quote-open"></i>
                            </div>
                            <div class="testi-desc">
                                <h3 class="testi-title mb-0 text-capitalize">“We all know the stigma around build times and the ever expanding arsenal of tooling in modern web apps.”</h3>
                                <h5 class="mt-4 mb-0 fw-bold">Robert Goodwin</h5>
                                <p class="text-muted">California USA</p>
                            </div>
                        </div>
                        <div class="testi position-relative mt-4">
                            <div class="testi-icon testi-left">
                                <i class="mdi mdi-format-quote-open"></i>
                            </div>
                            <div class="testi-desc">
                                <h3 class="testi-title mb-0 text-capitalize">“We all know the stigma around build times and the ever expanding arsenal of tooling in modern web apps.”</h3>
                                <h5 class="mt-4 mb-0 fw-bold">Robert Goodwin</h5>
                                <p class="text-muted">California USA</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Client -->
