        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Bootstrap Admin Dashboard" />
        <meta name="keywords" content="agency, bootstrap, business, corporate, creative, landing page, marketing, multipurpose, product, product launch, responsive, software, startup, startup landing page" />
        <meta name="author" content="ThemesBoss" />

        <!-- Site Title -->
        <title>Fadmin - Responsive Bootstrap Admin Dashboard</title>
        
        <!-- Site favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">

        <!-- Icon Css -->
        <link href="assets/css/icons.css" rel="stylesheet" type="text/css">

        <link href="assets/js/plugins/uniform/css/default.css" rel="stylesheet"/>
        <link href="assets/js/plugins/switchery/switchery.min.css" rel="stylesheet"/>

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="assets/js/plugins/morris/morris.css">

        <!-- Custom  Css -->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />