<div class="page-title mb-15">
    <div class="d-flex justify-content-between py-2">
        <div>
            <h3 class="breadcrumb-header">@@title</h3> 
            <p class="text-muted mb-0">@@description</p>
        </div>
        <div class="pull-right">
            <div class="btn-group mx-auto">
                <ol class="breadcrumb hide-phone m-0" id="breadcrumb-placeholder" data-breadcrumb="@@breadcrumb / @@title">
                </ol>
            </div>
        </div>
    </div>
</div>