// navbar scss
.header-item {
    height: 56px;
    display: flex;
    align-items: center;
    .btn-topbar {
        height: 42px;
        width: 42px;
        color: var(--black);
        transition: all .5s ease;
    }
    .btn-icon {
        &::after {
            display: none;
        }
    }
    .btn.show {
        border: none;
    }
    .dropdown-menu {
        box-shadow: 0 5px 10px rgba(30,32,37,.12);
        position: absolute;
        z-index: 1000;
        &.show {
            top: 56px!important;
        }
    }
}