//
// index scss page
.index-home {
  padding: 90px 0;
  overflow: hidden;
  position: relative;
  .container {
    height: 100%;
    .text-marquee {
      z-index: 10;
      font-size: 102px;
      font-weight: 900;
      top: 32px;
      opacity: 0.07;
    }
  }
}

// our-process
.our-process {
  background-color: var(--light);
  .container {
    .card {
      border: none !important;
      box-shadow: var(--shadow-md);
      .card-body{
        .icon-border {
          transition: all 0.7s ease;
          &:hover {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
  }
}

// planning
.swiper-pagination-bullet {
  border: 1.5px solid $white;
  border-radius: 3px !important;
}
.swiper-pagination-bullet-active {
  width: 40px;
  transition: width .5s;
  border-radius: 5px;
  background: pink;
  border: 1px solid transparent;
}

.planning {
  position: relative;
  .swiper {
    .swiper-pagination-bullet-active {
      background-color: $primary !important;
    }
    .swiper-pagination-bullet {
    }
    .swiper-pagination-bullet-active {
      background-color: $primary !important;
    }
  }
  .features {
    // padding-top: 40px;
    .section-title {
      .card {
        border: none;
      }
    }
  }
}

// choose - us section
.choose-us {
  background-color: var(--light);
  .container {
    .count-section {
      position: relative;
      height: 300px;
      .project-count {
        background-color: rgba(64, 81, 137, 20%) !important;
        color: var(--white);
        padding: 40px;
        justify-content: center;
        align-items: center;
        display: flex;
        transition: all 0.9s ease;
        &:hover {
          color: var(--gray-200) !important;
          background-color: $primary !important;
        }
      }
      .members-count {
        background-color: rgb(247 184 74 / 20%) !important;
        color: var(--gray-900);
        padding: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        transition: all 0.9s ease;
        &:hover {
          color: var(--gray-200) !important;
          background-color: $warning !important;
        }
      }
      .job-count {
        background-color: rgb(10 179 156 / 20%) !important;
        color: var(--gray-900);
        padding: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        transition: all 0.9s ease;
        &:hover {
          color: var(--gray-200) !important;
          background-color: $success !important;
        }
      }
      .awards-count {
        background-color: rgb(41 156 219 / 20%) !important;
        color: var(--gray-900);
        padding: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        transition: all 0.9s ease;
        &:hover {
          color: var(--gray-200) !important;
          background-color: $info !important;
        }
      }
    }
  }
}

// review
.review {
  .container {
    .review-circle {
      .image-container {
        .thumbnail {
          border-radius: 100%;
          cursor: pointer;
        }
        .circle-boder {
          padding: 49%;
        }
        .bg-shadow {
          box-shadow: rgba(64, 81, 137, 0.25) 0px 30px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
        .bg-shadow-2 {
          box-shadow: rgba(64, 81, 137, 0.35) 0px -50px 36px -28px inset;
        }
        .bg-shadow-3 {
          box-shadow: rgba(64, 81, 137, 0.4) -5px 5px;
        }
        .content-title {
          border: none;
          transition: all 0.4s ease;
          &.active {
            border: 2px solid rgba(64, 81, 137, 75%);
            border-radius: 100%;
            padding: 5px !important;
            &.past-active {
              border: none;
              &.hover-active {
                border: 2px solid rgba(64, 81, 137, 75%);
                border-radius: 100%;
                padding: 5px !important;
              }
            }
          }
          &.hover-active {
            border: 2px solid rgba(64, 81, 137, 75%);
            border-radius: 100%;
            padding: 5px !important;
          }
        }
      }
    }
    .content-container {
      .content {
        display: none;
        &.active {
          display: block;
          &.past-active {
            display: none;
            &.hover-active {
              display: block;
            }
          }
        }
        &.hover-active {
          display: block;
        }
      }
    }
  }
}

// contect-us section
.contect-us {
  background-color: var(--light);
  .container {
    background-color: rgba(64, 81, 137, 0.1) !important;
    .contect-icons {
      transition: all 0.7s ease;
      margin-bottom: 10px;
      &:hover {
        background-color: $primary !important;
      }
      .icons {
        &:hover {
          color: $white !important;
        }
      }
    }
    .border-none {
      text-decoration: none;
    }
    form {
      .form-control {
        border: none;
          border-bottom: 1px solid #adb5bd;
          font-size: 16px;
          background-color: var(--theme-light--bc);
          color: var(--gray-900);
          &:focus {
            box-shadow: none;
          }
      }
    }
  }
}

@media (max-width: 1024px) {
  .index-home {
    padding-bottom: 70px;
  }
}