/**
 * Start: Card css
 */

 .mat-card {
    padding: 10px;
    border-radius: 4px;
    background-color: var(--theme-light--bc);
    // box-shadow: var(--theme-card-shadow);
    min-height: 100%;
    .card-header {
      padding: .5rem 1rem;
    }
    .card-header:first-child {
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }
    .card-footer {
      padding: .5rem 1rem;
    }
    .card-img-overlay {
      padding: 1rem;
    }
    .card-footer:last-child {
      border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    }
    .card-body {
      padding: 24px;
    }
    h5,
    h6 {
      color: var(--theme-dark-text-rgb);
    }
    p,
    li,
    .media-body {
      color: var(--theme-card-text-color);
    }
    .card-title-desc {
      font-size: 14px;
      color: #76838f;
    }
  }
  
  /**
   * End: Card css
   */