/**
 * Start: Card css
 */

 .mat-card {
    padding: 12px;
    border-radius: 6px;
    background-color: var(--theme-light--bc);
    box-shadow: var(--theme-card-shadow);
    .card-header {
      padding: .5rem 1rem;
    }
    .card-header:first-child {
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }
    .card-footer {
      padding: .5rem 1rem;
    }
    .card-img-overlay {
      padding: 1rem;
    }
    .card-footer:last-child {
      border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    }
    .card-body {
      padding: 24px;
    }
    dt,
    dd {
      color: var(--theme-table-cell--text);
    }
    h5,
    h6 {
      color: var(--theme-dark-text-rgb);
    }
    p,
    li,
    .media-body {
      color: var(--theme-card-text-color);
    }
    .card-title-desc {
      font-size: 14px;
      color: #76838f;
    }
    table {
      .border_style {
        th {
          color: var(--theme-table-header-cell--text);
          font-weight: 400;
          padding: 1rem;
        }
        td {
          color: var(--theme-table-cell--text);
          padding: 1rem;
        }
      }
    }
    // table css
    .pagination-body {
      .select2-container {
        width: 66px !important;
      }
      .select2-selection.select2-selection--single {
        padding: 5px 10px !important;
      }
      .select2-selection__clear {
        display: none;
      }
      .pagination-info {
        font-size: 14px;
        margin: 0 32px 0 24px;
        color: var(--theme-table-header-cell--text);
      }
    }
    .pagination_block {
      li {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        cursor: pointer;
        a {
          display: flex;
          height: 100%;
          justify-content: center;
          color: var(--theme-table-pagination--text) !important;
          background-color: transparent !important;
          .fa {
            font-size: 24px;
            margin: auto;
          }
          &:hover {
            color: #000000b3 !important;
          }
        }
        &.disabled a,
        &.active a {
          color: var(--theme-table-pagination-disabled--text) !important;
          cursor: auto;
        }
        &.disabled:hover,
        &.active:hover {
          background-color: transparent;
        }
        &:hover {
          background-color: #ddd;
        }
      }
    }
  }
  
  /**
   * End: Card css
   */