
.pagination-rounded .page-item:last-child a {
    border-radius: 0 25px 25px 0;
  }
  
  .pagination-rounded .page-item:first-child a {
    border-radius: 25px 0 0 25px;
  }
  
  .pagination-flat li a:hover {
    background: #2aa56c;
    color: #ffffff;
  }
  
  .pagination-separated li a:hover {
    background: #f33f50;
    border-color: #f33f50;
    color: #ffffff;
  }
  
  .pagination-rounded-flat li a {
    border: none;
    border-radius: 50px !important;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pagination-rounded-flat li a:hover {
    background: #2aa56c;
    color: #ffffff;
  }
  
  .pagination-rounded-separated .page-item:last-child a {
    border-radius: 0 10px 10px 0;
  }
  
  .pagination-rounded-separated .page-item:first-child a {
    border-radius: 10px 0 0 10px;
  }
  
  .pagination-rounded-separated li a:hover {
    background: #f33f50;
    border-color: #f33f50;
    color: #ffffff;
  }