.alert {
    border-color: #deebff;
}

.alert-light-primary {
    background-color: #deebff;
    border-color: #deebff !important;
}

.alert-light-secondary {
    background-color: #ebebeb;
    border-color: #ebebeb !important;
}

.alert-light-success {
    background-color: #dfede7;
    border-color: #dfede7 !important;
}

.alert-light-info {
    background-color: #e4faff;
    border-color: #e4faff !important;
}

.alert-light-warning {
    background-color: #fff9e5;
    border-color: #fff9e5 !important;
}

.alert-light-danger {
    background-color: #ffedef;
    border-color: #ffedef !important;
}

.alert-light {
    color: #636464;
    background-color: #f7fafc;
    border-color: #f7fafc
}

.alert-light .alert-link {
    color: #4f5050
}

.alert-bg-primary {
    background-color: #0d6efd;
    color: $white;
}

.alert-bg-secondary {
    background-color: #6c757d;
    color: $white;
}

.alert-bg-success {
    background-color: #198754;
    color: $white;
}

.alert-bg-danger {
    background-color: #dc3545;
    color: $white;
}

.alert-bg-warning {
    background-color: #ffc107;
    color: $white;
}

.alert-bg-info {
    background-color: #0dcaf0;
    color: $white;
}

.alert-bg-light {
    background-color: #f8f9fa;
    color: black;
}

.alert-bg-dark {
    background-color: #212529;
    color: $white;
}

.alert-borderless {
    border: none;
}

.alert-border-top {
    border-top: 2px solid;
}

.alert.customize-alert .btn-close {
    width: 24px;
    height: 24px;
    background: 0 0;
    opacity: 1;
  }
  
  .alert.customize-alert .btn-close:focus {
    box-shadow: none;
  }
  
  .alert .fa {
    font-size: 24px;
  }
  
  .alert.customize-alert {
    padding: 20px 25px;
  }
  
  .rounded-pill {
    border-radius: 50rem !important;
  }
  
  .alert.customize-alert .side-line {
    position: absolute;
    width: 3px;
    height: 25px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .alert-dismissible .btn-close {
    font-size: 11px;
    width: 25px;
    box-shadow: none !important;
  }