@{
    // This block allows server-side C# code execution for dynamic content and logic.

    ViewData["HeadTitle"] = "Elements";
    ViewData["ChildTitle"] = "Typography";
    ViewData["x-data"] = "elements";
    ViewBag.ActiveItem = "typography";
}
<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Headings</h2>
            <div class="flex flex-col gap-3">
                <h1 class="font-semibold text-black dark:text-darkmuted text-4xl">Sliced heading</h1>
                <h2 class="font-semibold text-black dark:text-darkmuted text-3xl">Sliced heading</h2>
                <h3 class="font-semibold text-black dark:text-darkmuted text-2xl">Sliced heading</h3>
                <h4 class="font-semibold text-black dark:text-darkmuted text-xl">Sliced Headings</h4>
                <h5 class="font-semibold text-black dark:text-darkmuted text-lg">Sliced heading</h5>
                <h6 class="font-semibold text-black dark:text-darkmuted text-sm">Sliced heading</h6>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Font Weight</h2>
            <div class="flex flex-col gap-3">
                <p class="text-lg font-light">Sliced Tailwind Admin</p>
                <p class="text-lg font-normal">Sliced Tailwind Admin</p>
                <p class="text-lg font-medium">Sliced Tailwind Admin</p>
                <p class="text-lg font-semibold">Sliced Tailwind Admin</p>
                <p class="text-lg font-bold">Sliced Tailwind Admin</p>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Text Left</h2>
            <div class="text-left">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Text Left</h2>
            <div class="text-center">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Text Right</h2>
            <div class="text-right">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Text justify</h2>
            <div class="text-justify">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable but the majority have suffered alteration in some form, by injected humour.</p>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Text Color</h2>
            <div class="flex flex-col gap-3">
                <p class="text-purple">Sliced Tailwind Admin</p>
                <p class="text-info">Sliced Tailwind Admin</p>
                <p class="text-success">Sliced Tailwind Admin</p>
                <p class="text-warning">Sliced Tailwind Admin</p>
                <p class="text-danger">Sliced Tailwind Admin</p>
                <p class="text-black">Sliced Tailwind Admin</p>
                <p class="text-muted">Sliced Tailwind Admin</p>
                <p class="text-light">Sliced Tailwind Admin</p>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Text Decoration</h2>
            <div class="flex flex-col gap-3">
                <p class="underline">Sliced Tailwind Admin</p>
                <p class="overline">Sliced Tailwind Admin</p>
                <p class="line-through">Sliced Tailwind Admin</p>
                <p class="underline decoration-double">Sliced Tailwind Admin</p>
                <p class="underline decoration-wavy">Sliced Tailwind Admin</p>
                <p class="underline decoration-4">Sliced Tailwind Admin</p>
                <p class="underline decoration-dotted">Sliced Tailwind Admin</p>
                <p class="underline decoration-dashed">Sliced Tailwind Admin</p>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Text Transforming</h2>
            <div class="flex flex-col gap-3">
                <p class="normal-case">Sliced Tailwind Admin</p>
                <p class="uppercase">Sliced Tailwind Admin</p>
                <p class="lowercase">Sliced Tailwind Admin</p>
                <p class="capitalize">Sliced Tailwind Admin</p>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Text Indent</h2>
            <div>
                <p class="indent-10">So I started to walk into the water. I won't lie to you boys, I was terrified. But I pressed on, and as I made my way past the breakers a strange calm came over me. I don't know if it was divine intervention or the kinship of all living things but I tell you Jerry at that moment, I was a marine biologist.</p>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Text Truncate</h2>
            <div>
                <p class="truncate whitespace-nowrap overflow-hidden">So I started to walk into the water. I won't lie to you boys, I was terrified. But I pressed on, and as I made my way past the breakers a strange calm came over me. I don't know if it was divine intervention or the kinship of all living things but I tell you Jerry at that moment, I was a marine biologist.</p>
            </div>
        </div>
    </div>
</div>
<!-- End All Card -->
