:root {
  --theme-light--text-color: #f6f6f6;
  --theme-light--button-text: #fff;
  --theme-secondary-rgb: #999;
  --theme-placeholder-color: #999;
  --theme-input--text-color: #4382e1;
  --theme-button-small-radius: 6px;
  --theme-button-full-radius: 999px;
  --theme-bg-red: #f56954;
  --theme-bg-green: #00a65a;
  --theme-logo-color: #4382e1;
  --theme-party-text-color: #8269b2;
  --theme-party-bg-color: #e0daec;
  --theme-invoice-text-color: #4382e1;
  --theme-invoice-bg-color: #d6e3f5;
  --theme-payment-text-color: #06c5bf;
  --theme-payment-bg-color: #c1f0ef;
  --theme-online-color: #22c55e;
  --theme-secondary-text-rgb: #ffffffb3;
  --theme-header-icon-bc: #fff;
  --theme-navbar-icon-color: #f6f6f6;
  --theme-hover-menu-text-rgb: #f6f6f6;
  --theme-submenu-hover-text-rgb: #f6f6f6;
  --theme-submenu-active-text-color: #f6f6f6;
  --theme-info-text-color: #f6f6f6;
  --theme-info-number-text-color: #ddd;
  --theme-header-bg: #e6f1f9;
}

:root .theme-default {
  --theme-primary-rgb: #4382e1;
  --theme-primary-focas-rgb: #4f46e5cc;
  --theme-button-shadow: 0 2px 6px #2196f385;
}
:root .theme-brand {
  --theme-primary-rgb: #2196f3;
  --theme-primary-focas-rgb: #2196f3cc;
  --theme-button-shadow: 0 2px 6px #2196f380;
}
:root .theme-indigo {
  --theme-primary-rgb: #1ca968;
  --theme-primary-focas-rgb: #0d9488cc;
  --theme-button-shadow: 0 2px 6px #1ca96878;
}
:root .theme-rose {
  --theme-primary-rgb: #db4a58;
  --theme-primary-focas-rgb: #f43f5ecc;
  --theme-button-shadow: 0 2px 6px #f43f5e80;
}
:root .theme-purple {
  --theme-primary-rgb: #9333ea;
  --theme-primary-focas-rgb: #9333eacc;
  --theme-button-shadow: 0 2px 6px #9333ea80;
}
:root .theme-dark {
  --theme-primary-rgb: #000;
  --theme-primary-focas-rgb: #171108cc;
  --theme-button-shadow: 0 2px 6px #18181880;
}
:root .sidebar-black {
  --theme-dark-rgb: #0b1324;
  --theme-sidebar-hover-active--color: #2c3344;
  --theme-secondary-text-rgb: #999;
  --theme-info-number-text-color: #999;
}
:root .sidebar-default {
  --theme-dark-rgb: #fff;
  --theme-sidebar-hover-active--color: #f0f0f0;
  --theme-secondary-text-rgb: #909090;
  --theme-submenu-hover-text-rgb: #4382e1;
  --theme-submenu-active-text-color: #000000cc;
  --theme-info-text-color: #a6a6a6;
  --theme-info-number-text-color: #999;
}
:root .sidebar-default .sidebar_section {
  --theme-light--text-color: var(--theme-input--text-color);
  --theme-hover-menu-text-rgb: var(--theme-input--text-color);
  --theme-submenu-active-text-color: var(--theme-input--text-color);
}
:root .sidebar-default .sidebar_section .logo_details p {
  color: var(--theme-input--text-color) !important;
}
:root .sidebar-gray {
  --theme-dark-rgb: #f3f3f9;
  --theme-sidebar-hover-active--color: #fff;
  --theme-secondary-text-rgb: #4d4d4d;
  --theme-submenu-hover-text-rgb: #4382e1;
  --theme-submenu-active-text-color: #2196f385;
  --theme-info-text-color: #a6a6a6;
  --theme-info-number-text-color: #999;
}
:root .sidebar-gray .sidebar_section {
  --theme-light--text-color: var(--theme-primary-rgb);
  --theme-hover-menu-text-rgb: var(--theme-primary-rgb);
  --theme-submenu-active-text-color: var(--theme-primary-rgb);
  --theme-info-text-color: #4d4d4d;
}
:root .sidebar-gray .sidebar_section .logo_details p {
  color: #000000 !important;
}
:root .sidebar-blue {
  --theme-dark-rgb: #4382e1;
  --theme-sidebar-hover-active--color: #6793d6;
}
:root .sidebar-brand {
  --theme-dark-rgb: #2196f3;
  --theme-sidebar-hover-active--color: #4aa8f3;
}
:root .sidebar-indigo {
  --theme-dark-rgb: #1ca968;
  --theme-sidebar-hover-active--color: #42a59c;
}
:root .sidebar-rose {
  --theme-dark-rgb: #db4a58;
  --theme-sidebar-hover-active--color: #ef5871;
}
:root .sidebar-purple {
  --theme-dark-rgb: #9333ea;
  --theme-sidebar-hover-active--color: #a456eb;
}
:root .sidebar-dark {
  --theme-dark-rgb: #000;
  --theme-sidebar-hover-active--color: #181818;
}
:root .header-default {
  --theme--header--bc: #fff;
  --theme-header-icon-bc: #000;
  --theme-navbar-icon-color: #64748b;
}
:root .header-dark {
  --theme--header--bc: #000000;
  --theme-header-form-bg: #0f172a !important;
}
:root .header-gray {
  --theme--header--bc: #f3f3f9;
  --theme-header-icon-bc: #000;
  --theme-navbar-icon-color: #64748b;
}
:root .header-blue {
  --theme--header--bc: #4382e1;
}
:root .header-brand {
  --theme--header--bc: #2196f3;
}
:root .header-indigo {
  --theme--header--bc: #1ca968;
}
:root .header-rose {
  --theme--header--bc: #db4a58;
}
:root .header-purple {
  --theme--header--bc: #9333ea;
}
:root .header-black {
  --theme--header--bc: #0b1324;
}
:root .font-sans {
  --theme-font-family: "Source Sans Pro";
}
:root .font-roboto {
  --theme-font-family: "Roboto";
}
:root .font-lato {
  --theme-font-family: "Lato";
}
:root .font-poppins {
  --theme-font-family: "Poppins";
}/*# sourceMappingURL=variables.css.map */