@page
@model Sliced.Pages.Elements.TooltipsModel
@{
    // This block allows server-side C# code execution for dynamic content and logic.

    ViewData["HeadTitle"] = "Elements";
    ViewData["ChildTitle"] = "Tooltips";
    ViewData["x-data"] = "elements";
    ViewBag.ActiveItem = "tooltips";
}

<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 gap-4">
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Tootlip Basic</h2>
            <div class="flex flex-wrap gap-4">
                <button type="button" data-tippy-content="Tooltip on top" data-tippy-arrow="true" data-tippy-placement="top" class="tippy-tooltip btn border text-purple border-purple rounded-md transition-all duration-300 hover:bg-purple hover:text-white">Tooltip on top</button>
                <button type="button" data-tippy-content="Tooltip on right" data-tippy-arrow="true" data-tippy-placement="right" class="tippy-tooltip btn border text-purple border-purple rounded-md transition-all duration-300 hover:bg-purple hover:text-white">Tooltip on right</button>
                <button type="button" data-tippy-content="Tooltip on bottom" data-tippy-arrow="true" data-tippy-placement="bottom" class="tippy-tooltip btn border text-purple border-purple rounded-md transition-all duration-300 hover:bg-purple hover:text-white">Tooltip on bottom</button>
                <button type="button" data-tippy-content="Tooltip on left" data-tippy-arrow="true" data-tippy-placement="left" class="tippy-tooltip btn border text-purple border-purple rounded-md transition-all duration-300 hover:bg-purple hover:text-white">Tooltip on left</button>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Tootlip animation</h2>
            <div class="flex flex-wrap gap-4">
                <button type="button" data-tippy-content="Tooltip animation" data-tippy-arrow="true" data-tippy-animation="scale" class="tippy-tooltip btn border border-light rounded-md text-black transition-all duration-300 hover:bg-light hover:text-black dark:text-white dark:hover:text-black">Tooltip animation</button>
                <button type="button" data-tippy-content="Tooltip animation" data-tippy-arrow="true" data-tippy-animation="shift-toward" class="tippy-tooltip btn border border-light rounded-md text-black transition-all duration-300 hover:bg-light hover:text-black dark:text-white dark:hover:text-black">Tooltip animation</button>
                <button type="button" data-tippy-content="Tooltip animation" data-tippy-arrow="true" data-tippy-animation="perspective" class="tippy-tooltip btn border border-light rounded-md text-black transition-all duration-300 hover:bg-light hover:text-black dark:text-white dark:hover:text-black">Tooltip animation</button>
                <button type="button" data-tippy-content="Tooltip animation" data-tippy-arrow="true" data-tippy-animation="shift-away" class="tippy-tooltip btn border border-light rounded-md text-black transition-all duration-300 hover:bg-light hover:text-black dark:text-white dark:hover:text-black">Tooltip animation</button>

            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Tootlip on click</h2>
            <div class="flex flex-wrap gap-4">
                <button type="button" data-tippy-content="Tooltip on top" data-tippy-arrow="true" data-tippy-placement="top" data-tippy-trigger="click" class="tippy-tooltip btn border text-purple border-purple rounded-md transition-all duration-300 hover:bg-purple hover:text-white">Tooltip on top</button>
                <button type="button" data-tippy-content="Tooltip on right" data-tippy-arrow="true" data-tippy-placement="right" data-tippy-trigger="click" class="tippy-tooltip btn border text-purple border-purple rounded-md transition-all duration-300 hover:bg-purple hover:text-white">Tooltip on right</button>
                <button type="button" data-tippy-content="Tooltip on bottom" data-tippy-arrow="true" data-tippy-placement="bottom" data-tippy-trigger="click" class="tippy-tooltip btn border text-purple border-purple rounded-md transition-all duration-300 hover:bg-purple hover:text-white">Tooltip on bottom</button>
                <button type="button" data-tippy-content="Tooltip on left" data-tippy-arrow="true" data-tippy-placement="left" data-tippy-trigger="click" class="tippy-tooltip btn border text-purple border-purple rounded-md transition-all duration-300 hover:bg-purple hover:text-white">Tooltip on left</button>
            </div>
        </div>
    </div>
</div>
<!-- End All Card -->
<!-- Tooltip JS -->
<script src="~/js/popper.min.js"></script>
<script src="~/js/tippy.min.js"></script>

<script>
    tippy('.tippy-tooltip', {
    });
</script>