:root {    
    // new 
    --black:      #{$black};
    --muted:      #{$gray-600};
    --light:      #{$gray-100};

    // --rgba-light--bc: rgba(255, 255, 255, 0.4);
    // --rgba-light: rgba(255, 255, 255, 0.1);
    
    // --shadow-sm:  0px 0px 3px rgba(000, 000, 000, .3);
    // --shadow-md: 0px 0px 4px rgba(000, 000, 000, 0.08);
    // --form-rgba: rgba(251, 246, 246, 0.48);
    
    .card {
        background-color: $white;
    }
    
    // final
    --#{$variable-prefix}body-bg:                      #{$gray-100};
    --#{$variable-prefix}header-bg:                    #{$white};

    // progress
    --#{$variable-prefix}progress-bg: #{$gray-300};
}