// layout boxed

[data-layout=boxed] {
    .page-header {
        position: absolute;
        width: calc(100% - 264px);
        left: 264px;
    }
    .page-sidebar {
        border-left: 1px solid var(--#{$variable-prefix}border-color);
        border-radius: var(--#{$variable-prefix}border-radius);
        left: calc($vertical-menu-width + 6rem);
    }
    .page-sidebar-collapsed {
        .page-inner {
            margin-left: 76px;
        }
        .page-footer {
            width: calc(100% - 76px);
        }
        .page-content {
            margin-left: 0px;
        }
    }
    .page-inner {
        margin-left: calc($vertical-menu-width + 25px);
    }
    .page-content {
        margin-left: 0;
    }
    .page-container {
        width: 1280px !important;
        position: relative;
    }
    .page-footer {
        width: calc(100% - 280px);
        border-radius: 0 6px 0 0;
        right: 0px;
        border-right: 1px solid var(--#{$variable-prefix}border-color);
    }
}