<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Saas & Software Landing Page Template" />
    <meta name="keywords" content="agency, bootstrap, business, corporate, creative, landing page, marketing, multipurpose, product, product launch, responsive, software, startup, startup landing page" />
    <meta name="author" content="ThemesBoss" />

    <!-- Site Title -->
    <title>Landik - Saas & Software Landing Page Template</title>

    <!-- Site favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">

    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="~/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/css/materialdesignicons.min.css">

    <!-- MFP Css -->
    <link rel="stylesheet" type="text/css" href="~/css/magnific-popup.css">

    <!-- Owl Slider -->
    <link rel="stylesheet" href="~/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/css/owl.theme.css" />
    <link rel="stylesheet" href="~/css/owl.transitions.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>

    <!-- Header Start -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top horizontal-nav">
            <div class="container">
                <a class="navbar-brand" href="javascript:void(0)">
                    <img src="~/images/logo-dark.png" class="img-fluid" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="ti-menu icon-align-right"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav horizontal-menu">
                        <li class="scroll dropdown">
                            <a href="javaScript:void();" class="dropdown-toggle" data-bs-toggle="dropdown"><span>Landing</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/index1">Landing Page 1</a></li>
                                <li><a href="~/index2">Landing Page 2</a></li>
                                <li><a href="~/index3">Landing Page 3</a></li>
                                <li><a href="~/index4">Landing Page 4</a></li>
                            </ul>
                        </li>
                        <li class="scroll dropdown">
                            <a href="javaScript:void();" class="dropdown-toggle" data-bs-toggle="dropdown"><span>Pages</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/About">About</a></li>
                                <li><a href="~/Service">Service</a></li>
                                <li class="dropdown">
                                    <a href="javaScript:void();" class="dropdown-toggle" data-bs-toggle="dropdown">Widget</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="~/Pricing">Pricing</a></li>
                                        <li><a href="~/Testimonial">Testimonial</a></li>
                                        <li><a href="~/Faqs">FAQs</a></li>
                                    </ul>
                                </li>
                                <li><a href="~/Contact">Contact</a></li>
                            </ul>
                        </li>
                        <li class="scroll dropdown">
                            <a href="javaScript:void();" class="dropdown-toggle" data-bs-toggle="dropdown"><span>Account</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Login">Login</a></li>
                                <li><a href="~/Register">Ragister</a></li>
                                <li><a href="~/pwreset">Password Reset</a></li>
                            </ul>
                        </li>
                        <li class="scroll dropdown">
                            <a href="javaScript:void();" class="dropdown-toggle" data-bs-toggle="dropdown"><span>Docs</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Documentation">Documentation</a></li>
                                <li><a href="~/Changelog">Changelog</a></li>
                            </ul>
                        </li>
                        <button class="btn btn-sm btn-custom navbar-btn btn-rounded">Buy Now</button>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header End -->
    <!-- start all cards -->
    @RenderBody()

    <!-- Start Footer -->
    <footer class="footer_third">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer_sub_third">
                        <h6 class="mt-3 fw-bold">Subcribe Our Newslatter</h6>
                        <div class="footer_title_border"></div>
                        <form class="position-relative mt-4">
                            <input type="email" placeholder="Email" required>
                            <button type="submit" class="btn btn-custom">Subcribe</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2 order-2 order-lg-1">
                    <h6 class="mt-3 fw-bold">Social</h6>
                    <div class="footer_title_border"></div>
                    <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                        <li><a href="javascript:void(0)">Blog</a></li>
                        <li><a href="javascript:void(0)">Facebook</a></li>
                        <li><a href="javascript:void(0)">Instagram</a></li>
                        <li><a href="javascript:void(0)">Twitter</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 order-2 order-lg-1">
                    <h6 class="mt-3 fw-bold">Product</h6>
                    <div class="footer_title_border"></div>
                    <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                        <li><a href="javascript:void(0)">Service</a></li>
                        <li><a href="javascript:void(0)">Features</a></li>
                        <li><a href="javascript:void(0)">Credit</a></li>
                        <li><a href="javascript:void(0)">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 order-2 order-lg-1">
                    <h6 class="mt-3 fw-bold">Support</h6>
                    <div class="footer_title_border"></div>
                    <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                        <li><a href="javascript:void(0)">Privcy</a></li>
                        <li><a href="javascript:void(0)">Tearms</a></li>
                        <li><a href="javascript:void(0)">Help</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_third_copy_border"></div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="copyright_third text-center">
                        <div class="copy_icon_box mx-auto text-center">
                            <img src="~/images/icon/heart.svg" alt="heart" class="img-fluid mx-auto">
                        </div>
                        <p class="mb-0 mt-4 text-muted">
                            &copy; 2021 Landik. Design and coded by
                            <a class="text-muted" href="https://themeforest.net/user/themesboss">ThemesBoss.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- end all cards -->
    <!-- Javascript -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/scrollspy.min.js"></script>

    <!-- MFP JS -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>

    <!-- Owl Js -->
    <script src="~/js/owl.carousel.min.js"></script>

    <!-- Custom Js   -->
    <script src="~/js/custom.js"></script>

    <script src="~/js/counter.js"></script>
</body>
</html>