<!-- Page Header -->
<div class="page-header">
    <div class="search-form">
        <form action="#" method="GET">
            <div class="input-group">
                <input type="text" name="search" class="form-control search-input" placeholder="Type something...">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="close-search" type="button"><i class="mdi mdi-close"></i></button>
                </span>
            </div>
        </form>
    </div>

    <nav class="navbar navbar-expand-lg navbar-default border bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-header">
                    <div class="logo-sm">
                        <a href="javascript:void(0)" id="sidebar-toggle-button"><i class="fa fa-bars"></i></a>
                        <a class="logo-box" href="index.html"><span>Fadmin</span></a>
                    </div>                                                             
                </div>
                <div class="d-lg-flex justify-content-between align-items-center">
                    <ul class="nav navbar-nav d-none d-lg-flex mb-2 mb-lg-0">
                        <li><a href="javascript:void(0)" id="collapsed-sidebar-toggle-button"><i class="mdi mdi-menu"></i></a></li>
                        <li><a href="javascript:void(0)" id="toggle-fullscreen"><i class="mdi mdi-fullscreen"></i></a></li>
                        <li><a href="javascript:void(0)" id="search-button"><i class="mdi mdi-magnify"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav d-md-flex d-none align-items-center navbar-right mb-2 mb-lg-0">
                        <li>
                            <!-- <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                                <i class="mdi mdi-weather-night"></i>
                                <i class="mdi mdi-white-balance-sunny"></i>
                            </button> -->

                            <!-- <button id="light-dark-mode" type="button" class="nav-link p-2">
                                <span class="sr-only">Light/Dark Mode</span>
                                <span class="flex items-center justify-center h-6 w-6">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="moon" class="lucide lucide-moon block dark:hidden"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="sun" class="lucide lucide-sun hidden dark:block"><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"></path><path d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"></path><path d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"></path><path d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"></path><path d="m19.07 4.93-1.41 1.41"></path></svg>
                                </span>
                            </button> -->
                            <!-- <div>
                                <img id="image" src="assets/images/demos/light.png" class="mw-100 border border-5 rounded-4" alt="" style="width: 260px;">
                            </div>
                            <button id="toggleButton">Toggle Image</button> -->
                            <style>
                                #theme-toggle-button {
                                    background-image: url('assets/images/demos/light.png');
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    padding-left: 30px; /* Adjust the padding to position the image as needed */
                                }
                            </style>       
                           
   
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="theme-toggle-switch">
        <label class="form-check-label" for="theme-toggle-switch"></label>
    </div>

                          <label>
                                <div class="form-check-wrapper">
                                    <!-- <img src="assets/images/demos/light.png" class="mw-100 border border-5 rounded-4" alt="" style="width: 260px;">                       -->
                                </div>
                                <div class="form-check form-check-custom form-check-solid form-check-sm form-check-success">
                                    <input class="form-check-input" type="radio" value="light" name="theme_mode" data-bs-theme="light" id="kt_layout_builder_theme_mode_light" checked>
                                    <div class="form-check-label ms-2 text-gray-700"> Light </div>
                                </div>
                            </label>

                            <label class="form-check-image form-check-success">
                                <div class="form-check-wrapper">
                                    <!-- <img src="assets/images/demos/dark.png" class="mw-100 border border-5 rounded-4" alt="" style="width: 260px;">                       -->
                                </div>
                                <div class="form-check form-check-custom form-check-solid form-check-sm form-check-success">
                                    <input class="form-check-input" type="radio" value="dark" name="theme_mode" data-bs-theme="dark" id="kt_layout_builder_theme_mode_dark">
                                    <div class="form-check-label ms-2 text-gray-700"> Dark </div>
                                </div> 
                            </label> 
                        </li>
                        <li><a href="javascript:void(0)" class="right-sidebar-toggle" data-sidebar-id="main-right-sidebar"><i class="mdi mdi-email-outline"></i></a></li>
                        <!-- Default dropstart button -->
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-bell-outline"></i></a>
                            <ul class="dropdown-menu dropdown-lg dropdown-content dropdown-menu-end">
                                <li class="drop-title border-bottom">Notifications<a href="#" class="drop-title-link"><i class="fa fa-angle-right"></i></a></li>
                                <li class="slimscroll dropdown-notifications">
                                    <ul class="list-unstyled dropdown-oc">
                                        <li>
                                            <a class="border-bottom" href="#"><span class="notification-badge bg-primary"><i class="fa fa-photo"></i></span>
                                            <span class="notification-info">Finished uploading photos to gallery <b>"South Africa"</b>.
                                                <small class="notification-date">20:00</small>
                                            </span></a>
                                        </li>
                                        <li>
                                            <a class="border-bottom" href="#"><span class="notification-badge bg-primary"><i class="fa fa-at"></i></span>
                                            <span class="notification-info"><b>John Doe</b> mentioned you in a post "Update v1.5".<br>
                                                <small class="notification-date">06:07</small>
                                            </span></a>
                                        </li>
                                        <li>
                                            <a class="border-bottom" href="#"><span class="notification-badge bg-danger"><i class="fa fa-bolt"></i></span>
                                            <span class="notification-info">4 new special offers from the apps you follow!
                                                <small class="notification-date">Yesterday</small>
                                            </span></a>
                                        </li>
                                        <li>
                                            <a class="border-bottom rounded-1" href="#"><span class="notification-badge bg-success"><i class="fa fa-bullhorn"></i></span>
                                            <span class="notification-info">There is a meeting with <b>Ethan</b> in 15 minutes!
                                                <small class="notification-date">Yesterday</small>
                                            </span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown user-dropdown">
                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false"><img src="assets/images/avatar/avatar-1.png" alt="" class="rounded-circle"></a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Calendar</a></li>
                                <li><a href="#"><span class="badge pull-right badge-danger">42</span>Messages</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Account Settings</a></li>
                                <li><a href="#">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<!-- /Page Header -->
