@page
@model Landik.Pages.DocumentationModel
@{
}
<!-- Start Banner -->
<section class="bg-page-head section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pages_banner_content">
                    <h1 class="fw-bold">Documentation</h1>
                    <p>We have made well documentions for easy to use</p>
                    <div>
                        <a href="contact.html" class="btn btn-custom btn-sm">Contact US</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Banner-->
<!-- Start Documentation -->
<section class="section doc_pages_custom">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="doc_menu">
                    <div class="card mt-0">
                        <div class="card-header">
                            <h5 class="card-title mb-0 fw-bold">Documentation</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-0">
                                <li class="active"><a href="#intro">Introduction</a></li>
                                <li><a href="#file_structure">File Structure</a></li>
                                <li><a href="#html">HTML</a></li>
                                <li><a href="#css">CSS</a></li>
                                <li><a href="#javascript">Javascript</a></li>
                                <li><a href="#features">Features</a></li>
                                <li><a href="#credit">Credit &amp; Resources</a></li>
                                <li><a href="#support">Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="doc_detail">
                    <div id="intro">
                        <div class="card mt-0">
                            <div class="card-header">
                                <h5 class="card-title mb-0 fw-bold">Introduction</h5>
                            </div>
                            <div class="card-body">
                                <p>Landik is a superb, one of a kind, and present day HTML5 Template having multi-choices for Startups, App Landing, and SaaS-based companies. It has 4 special points of arrival with multi internal pages for different purposes.</p>
                            </div>
                        </div>
                    </div>
                    <div id="file_structure">
                        <div class="card mt-3">
                            <div class="card-header">
                                <h5 class="card-title mb-0 fw-bold">File Structure</h5>
                            </div>
                            <div class="card-body">
<pre class="prettyprint">
<i class="mdi mdi-folder-multiple"></i> Landik/
│   ├── <i class="mdi mdi-folder-multiple"></i> bin/
│   ├── <i class="mdi mdi-folder-multiple"></i> obj/
│   ├── <i class="mdi mdi-folder-multiple"></i> Properties/
│   │   └── <i class="mdi mdi-file-multiple"></i> launchSettings.json
│   ├── <i class="mdi mdi-folder-multiple"></i> wwwroot/
│   │   ├── <i class="mdi mdi-folder-multiple"></i> css/
│   │   ├── <i class="mdi mdi-folder-multiple"></i> fonts/
│   │   ├── <i class="mdi mdi-folder-multiple"></i> images/
│   │   ├── <i class="mdi mdi-folder-multiple"></i> js/
│   │   └── <i class="mdi mdi-folder-multiple"></i> scss/
│   ├── <i class="mdi mdi-folder-multiple"></i> Pages/
│   │   ├── <i class="mdi mdi-folder-multiple"></i> Shared/
│   │   │    └── <i class="mdi mdi-file-multiple"></i> _Layout.cshtml
│   │   ├── <i class="mdi mdi-file-multiple"></i> Index1.cshtml
│   │   └── <i class="mdi mdi-file-multiple"></i> Contact.cshtml
│   ├── <i class="mdi mdi-folder-multiple"></i> Documentation/
│   │    └── documentation.html - documentation file for documentation.
│   ├── <i class="mdi mdi-file-multiple"></i> appsettings.Development.json
│   ├── <i class="mdi mdi-file-multiple"></i> appsettings.json
│   ├── <i class="mdi mdi-file-multiple"></i> Program.cs
│   ├── <i class="mdi mdi-file-multiple"></i> Landik.csproj
│   ├── <i class="mdi mdi-file-multiple"></i> Landik.csproj.user
│   └── <i class="mdi mdi-file-multiple"></i> Landik.sln

</pre>
                            </div>
                        </div>
                    </div>
                    <div id="html">
                        <div class="card mt-3">
                            <div class="card-header">
                                <h5 class="card-title mb-0 fw-bold">CSHTML Structure</h5>
                            </div>
                            <div class="card-body">
                                <!-- HTML generated using hilite.me --><div style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
                                    <pre style="margin: 0; line-height: 125%"><span style="color: #007700">&lt;body&gt;</span>

                                    <span style="color: #888888">&lt;!-- Header Start --&gt;</span>
                                    <span style="color: #007700">&lt;header&gt;</span>
                                    <span style="color: #007700">&lt;nav</span> <span style="color: #0000CC">class=</span><span style="background-color: #fff0f0">&quot;navbar navbar-expand-lg navbar-light fixed-top horizontal-nav&quot;</span><span style="color: #007700">&gt;</span>
                                        ... ... ...
                                    <span style="color: #007700">&lt;/nav&gt;</span>
                                    <span style="color: #007700">&lt;/header&gt;</span>
                                    <span style="color: #888888">&lt;!-- Header End --&gt;</span>
                                    <span style="color: #888888">&lt;!-- start all cards --&gt;</span>
                                        @@RenderBody()
                                    <span style="color: #888888">&lt;!-- End all cards --&gt;</span>
                                    <span style="color: #888888">&lt;!-- Start Footer --&gt;</span>
                                    <span style="color: #007700">&lt;footer</span> <span style="color: #0000CC">class=</span><span style="background-color: #fff0f0">&quot;footer_lan_two&quot;</span><span style="color: #007700">&gt;</span>
                                    <span style="color: #007700">&lt;div</span> <span style="color: #0000CC">class=</span><span style="background-color: #fff0f0">&quot;container&quot;</span><span style="color: #007700">&gt;</span>
                                    <span style="color: #007700">&lt;div</span> <span style="color: #0000CC">class=</span><span style="background-color: #fff0f0">&quot;row&quot;</span><span style="color: #007700">&gt;</span>
                                        ... ... ...
                                    <span style="color: #007700">&lt;/div&gt;</span>
                                    <span style="color: #007700">&lt;/div&gt;</span>
                                    <span style="color: #007700">&lt;/footer&gt;</span>
                                    <span style="color: #888888">&lt;!-- End Footer --&gt;</span>


                                    <span style="color: #888888">&lt;!-- end all cards --&gt;</span>
                                    <span style="color: #888888">&lt;!-- All Javascript --&gt;</span>

                                    <span style="color: #888888">&lt;!-- Custom Js   --&gt;</span>
                                    <span style="color: #007700">&lt;script </span><span style="color: #0000CC">src=</span><span style="background-color: #fff0f0">&quot;~/js/custom.js&quot;</span><span style="color: #007700">&gt;&lt;/script&gt;</span>
<span style="color: #007700">&lt;/body&gt;</span>
</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="css">
                        <div class="card mt-3">
                            <div class="card-header">
                                <h5 class="card-title mb-0 fw-bold">CSS</h5>
                            </div>
                            <div class="card-body">
                                <p>Landik Built with latest version of CSS3.</p>
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <thead>
                                            <tr>
                                                <th>File Name</th>
                                                <th>Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">bootstrap.min.css</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Bootstrap v5.3.1 css file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">materialdesignicons.min.css</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Materialdesign icon css file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">themify-icons.css</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Themify icon css file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">magnific-popup.css</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Magnific Popup css file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">owl.carousel.css</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Owl Corousel css file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">owl.theme.css</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Owl Corousel Theme Default css file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">owl.transitions.css</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Owl Transitions Theme Default css file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">style.css</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Landik main css file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">menu.css</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Landik menu css file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">navbar.scss</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Landik navbar scss file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">login.scss</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Landik login scss file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">footer.scss</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Landik footer scss file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">about.scss</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Landik about scss file</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="javascript">
                        <div class="card mt-3">
                            <div class="card-header">
                                <h5 class="card-title mb-0 fw-bold">Javascript</h5>
                            </div>
                            <div class="card-body">
                                <p>Landik Built with latest version of jQuery v3.5.1</p>
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <thead>
                                            <tr>
                                                <th>File Name</th>
                                                <th>Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">jquery.min.js</code></td>
                                                <td class="p-3 border border-[#dee2e6]">jQuery v3.5.1 js file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">bootstrap.min.js</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Materialdesign icon css file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">jquery.magnific-popup.min.js</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Magnific Popup js file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">owl.carousel.min.js</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Owl Corousel js file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">scrollspy.min.js</code></td>
                                                <td class="p-3 border border-[#dee2e6]">Scrollspy js file</td>
                                            </tr>
                                            <tr>
                                                <td class="p-3 border border-[#dee2e6]"><code class="text-[#e83e8c]">js/custom/*.js</code></td>
                                                <td class="p-3 border border-[#dee2e6]">All Custom js files</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="features">
                        <div class="card mt-3">
                            <div class="card-header">
                                <h5 class="card-title mb-0 fw-bold">Features</h5>
                            </div>
                            <div class="card-body">
                                <p>We are come with following features.</p>
                                <ul>
                                    <li>Created using ASP.NET <strong>7.0</strong></li>
                                    <li>Created using Bootstrap <strong>v5.3.1</strong></li>
                                    <li><strong>4</strong> Diffrent Landing Pages</li>
                                    <li>Built with HTML5 &#38; CSS3</li>
                                    <li>Font Icons</li>
                                    <li>Google Fonts</li>
                                    <li>Easy to Customize</li>
                                    <li>Clean code</li>
                                    <li>Free Images</li>
                                    <li>W3 Valid 100%</li>
                                    <li>Browser Compatibility</li>
                                    <li>Fully Customizable</li>
                                    <li>Modern Design</li>
                                    <li>And much more&#8230;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="credit">
                        <div class="card mt-3">
                            <div class="card-header">
                                <h5 class="card-title mb-0 fw-bold">Credit &amp; Resources</h5>
                            </div>
                            <div class="card-body">
                                <p>We have used the following plugins.</p>
                                <ul class="feature-list">
                                    <li><a class="text-custom" href="https://learn.microsoft.com/en-us/aspnet/core/?view=aspnetcore-7.0">ASP .NET 7.0</a></li>
                                    <li><a class="text-custom" href="https://jquery.com/">jQuery</a></li>
                                    <li><a class="text-custom" href="https://getbootstrap.com/">Bootstrap</a></li>
                                    <li><a class="text-custom" href="https://owlcarousel2.github.io/OwlCarousel2/">Owl Carousel</a></li>
                                    <li><a class="text-custom" href="https://plugins.jquery.com/magnific-popup/">Magnific Popup</a></li>
                                    <li><a class="text-custom" href="https://getbootstrap.com/docs/4.0/components/scrollspy/">Scrollspy</a></li>
                                    <li><a class="text-custom" href="https://inorganik.github.io/countUp.js/">CountUp</a></li>
                                    <li><a class="text-custom" href="https://unsplash.com/">Unsplash</a></li>
                                    <li><a class="text-custom" href="https://undraw.co/">Undraw.co</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="support">
                        <div class="card mt-3">
                            <div class="card-header">
                                <h5 class="card-title mb-0 fw-bold">Support</h5>
                            </div>
                            <div class="card-body">
                                <p>Thank you for become a part of us. If you have any query, suggestion and complain. Contact us anytime.</p>
                                <p class="text-custom fw-bold">- <a class="text-custom" href="https://themeforest.net/user/themesboss">Support</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Documentation -->