<!-- footer sec -->
<footer class="footer">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-4 py-3 py-lg-0">
                <div class="footer-content">
                    <!-- Logo container-->
                    <a class="logo" href="index.html">
                        <img src="assets/images/light-logo.png" class="logo-light-mode" height="34" alt="">
                        <img src="assets/images/dark-logo.png" class="logo-dark-mode" height="34" alt="">
                    </a>
                    <!-- Logo End -->
                    <p class="my-3 fs-16 text-muted">
                        Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec sit amet est.
                    </p>
                    <div class="social-icon">
                        <a href="javascript:void(0)"><i class="mdi mdi-facebook"></i></a>
                        <a href="javascript:void(0)"><i class="mdi mdi-twitter"></i></a>
                        <a href="javascript:void(0)"><i class="mdi mdi-instagram"></i></a>
                        <a href="javascript:void(0)"><i class="mdi mdi-linkedin"></i></a>
                    </div>
                </div>
            </div><!-- END col -->

            <div class="col-lg-2 col-sm-6 py-3 py-lg-0">
                <h4>Features</h4>
                <ul class="list-unstyled footer-menu p-0">
                    <li><a href="javascript:void(0)">Timeline Review</a></li>
                    <li><a href="javascript:void(0)">Custom Fields</a></li>
                    <li><a href="javascript:void(0)">Custom Templates</a></li>
                    <li><a href="javascript:void(0)">Task dependencies</a></li>
                </ul>
            </div><!-- END col -->

            <div class="col-lg-2 col-sm-6 py-3 py-lg-0">
                <h4>Company</h4>
                <ul class="list-unstyled footer-menu p-0">
                    <li><a href="javascript:void(0)">About us</a></li>
                    <li><a href="javascript:void(0)">Pricing Plan</a></li>
                    <li><a href="javascript:void(0)">Privacy & Policy</a></li>
                    <li><a href="javascript:void(0)">Latest News</a></li>
                </ul>
            </div><!-- END col -->

            <div class="col-lg-4 py-3 py-lg-0">
                <h4> Subscribe Newsletter </h4>
                <p class="text-muted">Aenean non accumsan ante Duis et risus accumsan sem tempus.</p>
                <div class="footer-subcribe d-inline-block">
                    <form action="javascript:void(0)" name="form1">
                        <input type="email" name="email" class="rounded-3 email" placeholder="Your Email Address"
                            autocomplete="off" required>
                        <button type="submit" class="btn btn-primary" id="subscribe">
                            Subscribe <i class="mdi mdi-bell-ring"></i>
                        </button>
                    </form>
                </div>
            </div><!-- END col -->
        </div><!-- END row -->


        <div class="row border-top">
            <div class="col-12">
                <p class="mb-0 py-4 text-center"> ©
                    <span id="currentYear">2023</span> Design with
                    <i class="mdi mdi-heart text-danger"></i> by <a href="https://themeforest.net/user/fluxsiapp" target="_blank" class="text-muted"> FluxsiApp.</a>
                </p>
            </div>
            <!--END col-->
        </div>
        <!--END row-->
    </div><!-- END container -->
</footer>
