<header id="topnav" class="navbar megamenuscroll sticky">
	<div class="container">
		<!-- Logo container-->
		<a class="logo" href="index.html">
			<img src="assets/images/light-logo.png" class="logo-light-mode" height="34" alt="">
			<img src="assets/images/dark-logo.png" class="logo-dark-mode" height="34" alt="">
		</a>
		<!-- Logo End -->

		<!-- start mega navigation -->
		<div id="navigation">
			<!-- Navigation menu-->
			<ul class="navigation-menu">
				<li>
					<a href="index.html">Home</a>
				</li>
				<!-- end index.html -->

				<li class="has-submenu">
					<a href="javascript:void(0)">Showcase</a><span class="mega-menu"></span>
					<ul class="submenu megamenu">
						<h5><span class="fw-bold">4+</span> Full Landing Ready To Use Demos In Falcon</h5>
						<p class="text-muted">Ready To Use And Creative Multipurpose Demos Upcoming Demos Coming Soon 🤗
						</p>
						<div class="d-flex">
							<li>
								<ul class="row justify-content-between pt-0 pt-xl-4 g-lg-0 ps-0">
									<li class="col-lg-2 col-sm-3 list-unstyled mb-3 mb-lg-0">
										<div class="d-flex align-items-center">
											<i class="mdi mdi-cellphone fs-5 me-1"></i>
											<h6 class="mb-0 text-uppercase">Application</h6>
										</div>
										<p class="text-muted mb-0 mb-lg-2">Index Demo For Application</p>
										<a href="index-app.html" class="sub-menu p-0">
											<div class="text-lg-center">
												<span>
													<img src="assets/images/demos/app.png" class="img-fluid rounded-2 shadow-sm" alt="">
												</span>
												<a href="" class="pb-0">View Full Demo
													<i class="mdi mdi-arrow-up-bold fs-12"></i>
												</a>
											</div>
										</a>
									</li>
									<li class="col-lg-2 col-sm-3 list-unstyled mb-3 mb-lg-0">
										<div class="d-flex align-items-center">
											<i class="mdi mdi-shopping-outline fs-5 me-1"></i>
											<h6 class="mb-0 text-uppercase">E-Commerce</h6>
										</div>
										<p class="text-muted mb-0 mb-lg-2">Index Demo For E-Commerce</p>
										<a href="index-shop.html" class="sub-menu p-0">
											<div class="text-lg-center">
												<span>
													<img src="assets/images/demos/shop.png" class="img-fluid rounded-2 shadow-sm" alt="">
												</span>
												<a href="" class="pb-0">View Full Demo
													<i class="mdi mdi-arrow-up-bold fs-12"></i>
												</a>
											</div>
										</a>
									</li>
									<li class="col-lg-2 col-sm-3 list-unstyled mb-3 mb-lg-0">
										<div class="d-flex align-items-center">
											<i class="mdi mdi-home-city-outline fs-5 me-1"></i>
											<h6 class="mb-0 text-uppercase">Real Estate</h6>
										</div>
										<p class="text-muted mb-0 mb-lg-2">Index Demo For Real Estate</p>
										<a href="index-real-estate.html" class="sub-menu p-0">
											<div class="text-lg-center">
												<span>
													<img src="assets/images/demos/real-estate.png" class="img-fluid rounded-2 shadow-sm" alt="">
												</span>
												<a href="" class="pb-0">View Full Demo
													<i class="mdi mdi-arrow-up-bold fs-12"></i>
												</a>
											</div>
										</a>
									</li>
									<li class="col-lg-2 col-sm-3 list-unstyled mb-3 mb-lg-0">
										<div class="d-flex align-items-center">
											<i class="mdi mdi-hospital-building fs-5 me-1"></i>
											<h6 class="mb-0 text-uppercase">Hospital</h6>
										</div>
										<p class="text-muted mb-0 mb-lg-2">Index Demo For Hospital</p>
										<a href="index-hospital.html" class="sub-menu p-0">
											<div class="text-lg-center">
												<span>
													<img src="assets/images/demos/hospital.png" class="img-fluid rounded-2 shadow-sm" alt="">
												</span>
												<a href="" class="pb-0">View Full Demo
													<i class="mdi mdi-arrow-up-bold fs-12"></i>
												</a>
											</div>
										</a>
									</li>
									<li class="col-lg-2 col-sm-3 list-unstyled mb-3 mb-lg-0">
										<div class="d-flex align-items-center">
											<i class="mdi mdi-currency-btc fs-5 me-1"></i>
											<h6 class="mb-0 text-uppercase">NFT Marketplace</h6>
										</div>
										<p class="text-muted mb-0 mb-lg-2">Index Demo For NFT Marketplace</p>
										<a href="nft.html" class="sub-menu p-0">
											<div class="text-lg-center">
												<span>
													<img src="assets/images/demos/nft.png" class="img-fluid rounded-2 shadow-sm" alt="">
												</span>
												<a href="" class="pb-0">View Full Demo
													<i class="mdi mdi-arrow-up-bold fs-12"></i>
												</a>
											</div>
										</a>
									</li>
								</ul>
							</li>
						</div>
					</ul>
				</li>
				<!-- end Landing menu -->

				<li class="has-submenu has-submenu-sm">
					<a href="javascript:void(0)">Elements</a><span class="mega-menu"></span>
					<ul class="submenu">
						<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Utilities </a>
							<span class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="component-carousel.html">Carousel</a></li>
								<li><a href="component-breadcrumb.html">Breadcrumb</a></li>
								<li><a href="component-card.html">Cards</a></li>
								<li><a href="component-pagination.html">Pagination</a></li>
								<li><a href="component-nav-tabs.html">Nav Tabs</a></li>
								<li><a href="component-modals.html">Modals</a></li>
								<li><a href="component-badges.html">Badges</a></li>
								<li><a href="component-progressbar.html">Progressbar</a></li>
							</ul>
						</li>
						<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Add-ons</a>
							<span class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="component-accordion.html">Accordions</a></li>
								<li><a href="component-text.html">Text Color</a></li>
								<li><a href="component-typography.html">Typography</a></li>
								<li><a href="component-icons.html">Icons</a></li>
								<li><a href="component-background.html">Background</a></li>
								<li><a href="component-shadow.html">Shadows</a></li>
								<li><a href="component-form.html">Form Elements</a></li>
								<li><a href="component-border.html">Border</a></li>
								<li><a href="component-button.html">Buttons</a></li>
								<li><a href="component-avatar.html">Avatars</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<!-- end Components menu -->

				<li class="has-submenu has-submenu-md">
					<a href="javascript:void(0)">Casestudies</a><span class="mega-menu"></span>
					<ul class="submenu">
						<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> business & corporate </a>
							<span class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="index-agency.html">agancy</a></li>
								<li><a href="travelbooking.html">travel & booking</a></li>
								<li><a href="insurance.html">insutance</a></li>
								<li><a href="finance.html">finance</a></li>
								<li><a href="car-service.html">car service</a></li>
								<li><a href="index-photography.html">Photography</a></li>
								<li><a href="law-firm.html">law firm</a></li>
								<li><a href="index-business.html">business</a></li>
							</ul>
						</li>
						<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> personal care</a>
							<span class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="index-spa-massage.html">spa & massage</a></li>
								<li><a href="cosmetic.html">cosmetic</a></li>
							</ul>
						</li>
						<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> education & training </a>
							<span class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="course.html">course</a></li>
								<li><a href="index-blog.html">blog or news</a></li>
								<li><a href="online-learning-page.html">online learning</a></li>
								<li><a href="help-center.html">help center</a></li>
							</ul>
						</li>
						<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> it</a>
							<span class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="solution.html">it solution</a></li>
								<li><a href="index-software.html">software</a></li>
							</ul>
						</li>
						<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> restaurant & food </a>
							<span class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="food.html">food</a></li>
								<li><a href="index-vegetables.html">vegetables</a></li>
								<li><a href="coffee-tea.html">coffee & tea</a></li>
							</ul>
						</li>
						<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> medical</a>
							<span class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="index-medical.html">medical</a></li>
								<li><a href="index-therapy.html">therapy</a></li>
								<li><a href="sport.html">sport</a></li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="has-submenu has-submenu-sm">
					<a href="javascript:void(0)">Pages</a><span class="mega-menu"></span>
					<ul class="submenu">
						<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Account </a>
							<span class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="profile.html">Profile</a></li>
							</ul>
						</li>
						<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Special</a>
							<span class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="coming-soon-1.html">Coming Soon</a></li>
								<li><a href="coming-soon-2.html">Coming Soon 2</a></li>
								<li><a href="coming-soon-3.html">Coming Soon 3</a></li>
								<li><a href="maintenance-page-1.html">Maintenance</a></li>
								<li><a href="maintenance-page-2.html">Maintenance 2</a></li>
							</ul>
						</li>

						<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Auth Pages </a>
							<span class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="javascript:void(0)"> Login </a>
									<span class="submenu-arrow"></span>
									<ul class="submenu">
										<li><a href="auth-login.html"> Login 1 </a></li>
										<li><a href="auth-two-login.html"> Login 2 </a></li>
									</ul>
								</li>

								<li><a href="javascript:void(0)"> Signup </a>
									<span class="submenu-arrow"></span>
									<ul class="submenu">
										<li><a href="auth-signup.html"> Signup 1 </a></li>
										<li><a href="auth-two-signup.html"> Signup 2 </a></li>
									</ul>
								</li>

								<li><a href="javascript:void(0)"> Reset password </a>
									<span class="submenu-arrow"></span>
									<ul class="submenu">
										<li><a href="auth-re-password.html"> Reset password 1 </a></li>
										<li><a href="auth-two-re-password.html"> Reset password 2 </a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Company</a>
							<span class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a href="about-page.html">About US</a></li>
								<li><a href="service-page.html">Service</a></li>
								<li><a href="team.html">Team</a></li>
								<li><a href="pricing-page.html">Pricing</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<!-- end Pages menu -->

				<li>
					<a href="https://falconhtml.netlify.app/documentation/">Guide</a>
				</li>
				<!-- end Docs menu -->

			</ul><!-- end navigation menu -->
		</div><!-- end mega navigation -->

		<!-- start login & collapse -->
		<div class="end-content">
			<!--Login button Start-->
			<ul class="buy-button d-flex align-items-center list-inline mb-0">
				<li class="list-inline-item mb-0">
					<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#modalLoginForm">
						<a class="btn btn-primary">
							<i class="mdi mdi-login"></i>
						</a>
					</a>
				</li>
				<li class="list-inline-item ps-1 mb-0">
					<a href="javascript:void(0)">
						<div class="btn btn-primary">
							<i class="mdi mdi-cart-minus"></i>
						</div>
					</a>
				</li>

				<li class="menu-collapse">
					<div class="menu-item">
						<!-- Mobile menu toggle-->
						<a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
							<div class="lines">
								<span></span>
								<span></span>
								<span></span>
							</div>
						</a><!-- End mobile menu toggle -->
					</div>
				</li><!-- end collapse -->
			</ul><!-- Login button End -->
		</div><!-- end login & collapse -->
	</div><!-- end container -->
</header><!-- end header -->
<!-- Navbar End -->

<!-- start modal -->
<div class="modal fade navbarmodal" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content bg-transparent border-0">
			<div class="modal-body">
				<div class="auth-page d-flex align-items-center bg-light">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-12">
								<div class="content">
									<div class="d-flex justify-content-between align-items-center">
										<h4 class="fw-bold">Login</h4>
										<button type="button" class="btn-close bg-white border-0 m-0 p-2" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<form action="#">
										<div class="col-12">
											<div class="mb-3">
												<div class="field">
													<label class="form-label">Your Email <span class="text-danger">*</span></label>
													<i class="mdi mdi-email-outline"></i>
													<input type="email" placeholder="Email" required>
												</div>
											</div>
										</div>
										<!-- end col -->

										<div class="col-12">
											<div class="mb-3">
												<div class="field"><label class="form-label">Password <span class="text-danger">*</span></label>
													<i class="mdi mdi-lock-outline"></i>
													<input type="password" placeholder="Password" required>
												</div>
											</div>
										</div>
										<!-- end col -->

										<div class="col-lg-12">
											<div class="d-flex justify-content-between">
												<div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
														<label class="form-check-label mb-0" for="flexCheckDefault">Remember me</label>
													</div>
												</div>
												<p class="forgot-pass mb-0"><a href="auth-re-password.html" class="text-dark fw-bold">Forgot
														password ?</a></p>
											</div>
										</div>
										<!-- end col -->

										<div class="col-6 mx-auto text-center">
											<button class="btn btn-primary w-100 rounded-pill">Sign in</button>
											<h6 class="text-muted fs-14 mb-3">or Login with social platforms</h6>
										</div>
										<!-- end col -->

										<div class="col-12 text-center">
											<div class="social_icons">
												<a href="javascript:void(0)">
													<i class="mdi mdi-facebook"></i>
												</a>
												<a href="javascript:void(0)">
													<i class="mdi mdi-twitter"></i>
												</a>
												<a href="javascript:void(0)">
													<i class="mdi mdi-instagram"></i>
												</a>
											</div>

											<div class="mt-3">
												<a>Already have an account ?</a>
												<a href="auth-signup.html" class="fw-bold text-dark">Sign Up</a>
											</div>
										</div>
										<!-- end col -->
									</form>
								</div>
							</div>
							<!-- end col -->
						</div>
						<!-- end row -->
					</div>
					<!-- end container -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end modal -->