@page
@model Sliced.Pages.Elements.ImagesModel
@{
    // This block allows server-side C# code execution for dynamic content and logic.

    ViewData["HeadTitle"] = "Elements";
    ViewData["ChildTitle"] = "Images";
    ViewData["x-data"] = "elements";
    ViewBag.ActiveItem = "images";
}

<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Images Responsive</h2>
            <div>
                <img src="~/images/images-6.jpg" class="md:h-72 w-full object-cover" alt="">
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Images Rounded</h2>
            <div>
                <img src="~/images/images-2.jpg" class="rounded-md md:h-72 w-full object-cover" alt="">
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Images Circle</h2>
            <div>
                <img src="~/images/images-3.jpg" class="rounded-full h-44 w-44 mx-auto" alt="">
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Images With Ring</h2>
            <div>
                <img src="~/images/images-4.jpg" class="ring-offset-4 ring-2 rounded ring-light dark:ring-darkborder md:h-72 w-full object-cover" alt="">
            </div>
        </div>
    </div>
</div>
<!-- End All Card -->