.copy_right {
  display: block !important;
  padding: 16px 30px;
  background-color: var(--theme-light-header--bc);
  color: var(--theme-card-text-color);
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9;
  box-shadow: var(--theme-shadow);
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .copy_right {
    padding: 16px 15px !important;
  }
}

@media only screen and (max-width: 767px) {
  .copy_right {
    padding: 16px 15px !important;
  }
}