/**
 * Start: header design css
 */

 .header {
    max-height: 100px;
    z-index: 99;
    &.collapse-left .navbar_block {
      margin-left: 60px;
    }
    .navbar_block {
      // height: 64px;
      margin-left: 240px;
      background-color: var(--theme--header--bc) !important;
      padding: 0px 18px;
      .navbar_header_inner {
        /**
        * Start: Menu bar button css
        */
        .sidebar-toggle {
          width: 45px;
          height: 22px;
          padding: 0 10px;
          .icon-bar {
            position: relative;
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--theme-header-icon-bc);
            transition: 0.3s cubic-bezier(0.97, 0.75, 0.61, 1.84);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 2px;
            &::before,
            &::after {
              content: "";
              position: absolute;
              left: 0;
              height: 2px;
              background-color: var(--theme-header-icon-bc);
              transition: 0.3s cubic-bezier(0.97, 0.75, 0.61, 1.84);
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              border-radius: 2px;
            }
            &::before {
              top: -6px;
              width: 40%;
            }
            &::after {
              top: 6px;
              width: 70%;
            }
          }
          .icon-bar + .icon-bar {
            margin-top: 4px;
          }
          &:hover {
            .icon-bar::after,
            .icon-bar::before {
              width: 100%;
            }
          }
        }
        /**
        * End: Menu bar button css
        */
      }
      .search-bar {
        .menu-search {
          .searchform {
            input[type="text"] {
              box-shadow: none;
              height: 40px;
              font-size: 14px;
              display: block;
              padding-left: 14px !important;
              color: var(--theme-header-icon-bc);
              outline: 0 !important;
              border-radius: 6px !important;
              background-color: var(--theme-header-form-bg) !important;
              border-color: var(--theme-header-form-border) !important;
            }
            input[type="submit"] {
              position: absolute;
              top: 0px;
              right: 0px;
              opacity: 0;
              width: 40px;
              height: 40px;
            }
            &::after {
              content: "\f002";
              position: absolute;
              font-family: "FontAwesome";
              right: 14px;
              top: 8px;
              color: var(--theme-header-form-border);
              font-size: 16px;
              line-height: 20px;
              pointer-events: none;
            }
            input::placeholder {
              color: var(--theme-header-icon-bc) !important;
            }
          }
        }
      }
      /**
      * Start: Right navbar icon css
      */
      .navbar-right {
        .navbar-nav {
          flex-direction: row;
          .topbar-head-dropdown {
            .mat-card {
              .col {
                a {
                  &:hover {
                    background-color: rgba(13, 110, 253, 0.12);
                  }
                }
              }
            }
            a {
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .btn-topbar {
              position: relative;
              height: 42px;
              width: 42px;
              border: none !important;
              line-height: 0;
              &:hover,
              &:focus {
                background-color: var(--theme-header-bg) !important;
                color: $dark;
              }
              i {
                display: flex;
                justify-content: center;
              }
              .topbar-badge {
                right: 9px;
                top: 15px!important;
                padding: 3px 3px;
              }
            }
            .autoclose-dropdown {
              .notify-item {
                color: var(--theme-dark-text-rgb);
              }
            }
            .btn-icon {
              padding: 0 !important;
            }
            .dropdown-menu-lg {
              width: 320px;
              .dropdown-head {
                background-color: var(--theme-body-rgb);
                border-radius: 6px 6px 0 0;
                h6 {
                  color: var(--theme-card-text-color);
                }
                .nav-tabs {
                  .nav-item {
                    .nav-link {
                      border-radius: 6px 6px 0 0;
                      color: var(--theme-secondary-rgb);
                      &.active {
                        color: $dark;
                        background-color: $white;
                      }
                    }
                  }
                }
              }
              .tab-content {
                .notification-item {
                  padding: .75rem 1rem !important;
                  cursor: pointer;
                  p {
                    color: #85888a;
                  }
                }
              }
              .dropdown-item {
                white-space: normal;
                &.active {
                  background-color: rgba(13, 110, 253, 0.12) !important;
                }
              }
            }
            .dropdown-menu {
              &:after {
                display: none;
              }
            }
            .dropdown-menu-end {
              transform: translate(0px, 70px);
              box-shadow: $box-shadow;
              a {
                justify-content: start;
              }
            }
          }
          .header-item {
            height: 60px;
            display: flex;
            align-items: center;
          }
          a {
            border-radius: 4px;
            padding: 5px 10px !important;
            display: block;
            color: var(--theme-navbar-icon-color);
            .image {
              width: 28px;
              height: 28px;
              margin-right: 8px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
            &.expand-screen {
              .fa-compress {
                display: none;
              }
            }
            &.expand-screen.full-screen {
              .fa-compress {
                display: block;
              }
              .fa-expand {
                display: none;
              }
            }
          }
          .dropdown-menu {
            position: absolute !important;
            float: left !important;
            border: none;
            padding: 0;
            background-color: var(--theme-light--bc);
            margin-top: 0px;
            right: 0;
            left: auto;
            top: 0;
            min-width: 200px;
            box-shadow: $box-shadow;
            li.user-header {
              padding: 15px;
              background-color: var(--theme-profile-rgb) !important;
              .user_img {
                z-index: 5;
                width: 100px;
                overflow: hidden;
                img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  object-position: center;
                }
              }
              p {
                z-index: 5;
                color: var(--theme-light--text-color);
                font-size: 17px;
                margin: 8px 0 0;
                small {
                  display: block;
                  font-size: 12px;
                }
              }
            }
            .menu_body {
              flex-wrap: wrap;
              li {
                width: 50%;
                color: var(--theme-card-text-color);
                background-color: var(--theme-light--bc);
                a {
                  flex-direction: column;
                  color: var(--theme-card-text-color);
                  font-weight: 600;
                  .icon-tag .fa {
                    font-size: 24px;
                    width: 20px;
                    display: block;
                    margin: 0 auto;
                  }
                }
                &:hover a {
                  color: var(--theme-primary-rgb) !important;
                  transition: fill 0.3s ease;
                }
                & a:hover > .icon-tag.icon-svg svg [fill]:not(.permanent):not(g) {
                  fill: var(--theme-primary-rgb);
                  transition: fill 0.3s ease;
                }
              }
              .border-bottom {
                border-bottom: 1px solid #eff2f5;
              }
              .border-end {
                border-right: 1px solid #eff2f5;
              }
            }
            &:after {
              bottom: 100%;
              right: 26px;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(255, 255, 255, 0);
              border-bottom-color: var(--theme-profile-rgb);
              border-width: 10px;
            }
          }
          .icon_header .fa {
            font-size: 18px;
          }
          .theme_setting_div {
            .btn-dark {
              display: none;
            }
            .btn-light {
              display: block;
            }
          }
          .header-icon {
            li {
                button {
                  background: none;
                  i {
                    &::before {
                      display: none;
                    }
                  }
                }
                button {
                  &.active{
                    display: block;
                    i {
                      &::before {
                        display: block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
  
      /**
          * End: Right navbar icon css
          */
      &::after,
      &::before {
        display: none !important;
      }
    }
  }

// rtl
.rtl {
  .header {
    .navbar_block {
      .navbar-right {
        .navbar-nav {
          .topbar-head-dropdown {
            .btn-topbar {
              .badge {
                right: 5px;
              }
            }
          }
          .dropdown-menu {
            right: auto !important;
            left: 0 !important;
          }
        }
      }
    }

    .light-dark-btn {
      .mode-switch {
        .label {
          i:nth-child(2) {
            margin: 0 2px 0 0 !important;
          }
        }
      }
    }
  }
}


  /**
   * End: header design css
   */

   .light-dark-btn {
    padding: 0 12px;
    .mode-switch {
      .checkbox {
        opacity: 0;
        position: absolute;
      }
      .label {
        width: 40px;
        height: 20px;
        background-color: #8c8aff;
        display: flex;
        border-radius:50px;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        position: relative;
        transform: scale(1.3);
        cursor: pointer;
        i {
          font-size: 14px;
        }
        i:nth-child(2) {
          margin: 0 0 0 2px !important;
          color: #fff;
        }
      }
      .ball {
        width: 16px;
        height: 16px;
        background-color: white;
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 50%;
        transition: transform 0.2s linear;
      }
      .checkbox:checked + .label .ball{
        transform: translateX(20px);
      }
      
      .fa-moon-o {
        color: rgb(255, 255, 255);
      }
      
      .fa-sun-o {
        color: rgb(249, 249, 249);
      }
    }
   }