.right-side {
  max-height: calc(100vh - 58px);
  height: 100vh;
  margin-left: 240px;
  margin-top: 60px;
  background: var(--theme-body-rgb);
  .row-bg-light {
    background-color: var(--theme-light--bc);
  }
  /**
      * Start: content header design css
      */
  .admin_page_block {
    padding: 26px 24px 0;

    .admin_page_inner {
      h1 {
        font-size: 20px;
        color: var(--theme-dark-text-rgb);
        margin: 0 0 2px;
      }

      .breadcrumb {
        padding: 0;
        margin-bottom: 0;
        background-color: transparent;

        a {
          color: var(--theme-dark--text-color);

          &:hover {
            color: var(--theme-primary-rgb) !important;
          }
        }

        li:after {
          content: "/";
          padding: 0 5px;
          color: var(--theme-dark--text-color);
        }

        &>li+li:before {
          display: none;
        }

        .last {
          color: var(--theme-secondary-rgb);

          &::after {
            display: none;
          }
        }
      }
    }
  }

  .top-links {
    margin-right: -10px;

    .button {
      margin-right: 10px;
      display: inline-block;
      text-align: center;
    }
  }

  .gauge-chart {
    width: 100%;
    // height: 315px;
  }

  #home {
    margin-right: 4px;
  }

  /**
  * End: content header design css
  */
  ////////////////////
  /**
  * Start: content page design css
  */
  .content-breadcrumb {
    padding: 18px 12px 58px;

    >div {
      padding: 0 10px;
    }

    .mat-card {
      .dropdown-group {
        overflow: hidden;

        &:hover {
          overflow: visible;
        }
      }
    }

    /**
    * Start: dashboard page design css
    */
    .visitor_chart_block {
      overflow: hidden;
      background-color: #1e293b;
      position: unset !important;

      .visitor_chart_inner {
        .visitor_header {
          color: var(--theme-light--text-color);

          .visitor_header_text {
            margin: 0 0 6px;
          }

          .text-secondary {
            font-size: 14px;
            color: #94a3b8 !important;
          }
        }

        button {
          min-width: 100px;
        }
      }
    }

    .dashboard_info_box {
      cursor: pointer;
      overflow: hidden;
      height: 100%;
      padding: 16px !important;

      &.party_chart {
        border-bottom: 4px solid;
        border-color: var(--theme-party-text-color);
      }

      &.invoice_chart {
        border-bottom: 4px solid;
        border-color: var(--theme-invoice-text-color);
      }

      &.payment_chart {
        border-bottom: 4px solid;
        border-color: var(--theme-payment-text-color);
      }

      &.balance-card {
        border-bottom: 4px solid;
        border-color: var(--theme-payment-bg-colo);
      }

      .dashboard_info_box_inner {
        .dashboard_header {
          .dashboard_header_inner {
            .info-box-icon {
              width: 38px;
              height: 38px;
              font-size: 24px;
              line-height: 38px;
              border-radius: 0.3rem;
            }

            &.bg-E0DAEC {
              .info-box-icon {
                color: var(--theme-party-text-color);
                background-color: var(--theme-party-bg-color);
              }

              .info-box-text {
                color: var(--theme-party-text-color);
              }
            }

            &.bg-D7D4FB {
              .info-box-icon {
                color: var(--theme-invoice-text-color);
                background-color: var(--theme-invoice-bg-color);
              }

              .info-box-text {
                color: var(--theme-invoice-text-color);
              }
            }

            &.bg-C1F0EF {
              .info-box-icon {
                color: var(--theme-payment-text-color);
                background-color: var(--theme-payment-bg-color);
              }

              .info-box-text {
                color: var(--theme-payment-text-color);
              }
            }

            &.bg-94a3b81f {
              .info-box-icon {
                color: var(--theme-text-secondary-rgb);
                background-color: rgba(148, 163, 184, 0.1215686275) !important;
              }

              .info-box-text {
                color: var(--theme-text-secondary-rgb);
              }
            }

            .info-box-content {
              margin-left: 15px;

              .info-box-text {
                font-size: 18px;
                font-weight: 400;
              }
            }
          }
        }

        .info_box-number-block {
          margin-top: 12px;

          .info-box-number {
            color: var(--theme-card-text-color);
            font-size: 22px;
          }

          .target_block {
            margin-left: 10px;
            font-size: 12px;

            .below_target {
              color: var(--theme-bg-red);
            }

            .up_target {
              color: var(--theme-bg-green);
            }

            .target_text {
              margin-left: 3px;
              color: var(--theme-secondary-rgb);
            }
          }
        }
      }
    }

    .visitor_Chart_div {
      .apexcharts-legend {
        display: none;
      }

      #last_year_visitorChart {
        display: none;
      }

      &.last_year {
        #last_year_visitorChart {
          display: block;
        }

        #this_year_visitorChart {
          display: none;
        }
      }
    }

    .visitor_Chart_div,
    .dashboard_chart {
      margin: 0 -24px -24px;
    }

    .table_view_card {
      .order-wid-list {
        padding: 13px 0;
      }

      #barchart {
        min-height: 240px !important;
      }

      .history-btn {
        a {
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          background-color: var(--theme-light--bc) !important;
          color: var(--theme-card-text-color) !important;

          &:hover {
            box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
          }
        }
      }

      thead {
        position: sticky;
        top: 0;
      }

      .table-responsive {
        &.border-bottom-radius {
          border-radius: 0 0 6px 6px !important;
        }

        tr {
          .header-cell {
            color: var(--theme-card-text-color);
          }

          .cell {
            color: var(--theme-secondary-rgb);

            .btn-xs {
              background-color: var(--theme-table-cell--hover-bc);
              border-color: var(--theme-table-cell--hover-bc);

              i {
                color: var(--theme-card-text-color);
              }
            }
          }
        }
      }

      .box-header {
        padding: 24px;

        .box-title {
          color: var(--theme-card-text-color);
          font-weight: 600;
          font-size: 18px;
        }
      }

      table thead tr {
        border-top: 1px solid var(--theme-table-border-color);
      }

      th {
        padding-left: 10px !important;
      }

      .task-card {
        .task {
          cursor: pointer;
          transition: all 0.5s ease;
          padding: 16px 20px;
          border-color: var(--bs-border-color) !important;
          margin-top: 24px;

          &:hover {
            position: relative;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            transform: translateY(-2px);
            z-index: 1;
          }
        }

        .task-button {
          padding: 16px 20px;
          border: 2px dashed var(--bs-border-color) !important;

          a {
            &:hover {
              color: var(--theme-dark-text-rgb);
            }
          }
        }
      }

      .task-list {
        list-style: none;
        position: relative;
        margin: 0;
        padding: 0px 0px;
        color: #3c4858;

        &::before {
          content: "";
          position: absolute;
          top: 6px;
          bottom: 0;
          height: 84%;
          left: 2px;
          border-left: 1px dashed #e0e9f1;
        }

        li {
          position: relative;
          margin-bottom: 1.5rem;
          padding-left: 24px;
        }

        .mdi-circle {
          position: absolute;
          left: -5.5px;
          top: 0px;
        }
      }

      .pagination-padding {
        padding: 13.6px 24px 13.6px 24px !important;

        .pagination-color {
          background-color: var(--theme-even--tr-bc);
          color: var(--theme-secondary-rgb);

          &:hover {
            background-color: rgba(0, 0, 0, 0.0745098039);
          }
        }

        .pagination-active {
          background-color: rgba(0, 0, 0, 0.0745098039);
          color: var(--theme-secondary-rgb);
        }
      }
    }

    /**
      * End: dashboard page design css
      */
    ////////////////////
    /**
      * Start: Profile page design css
      */
    .user_profile {
      height: auto;

      .user_profile_div {
        width: 80px;
        height: 80px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .card-profile {
        list-style: none;

        strong {
          color: var(--theme-card-text-color) !important;
        }

        span {
          color: var(--theme-secondary-rgb);
        }
      }

      h5 {
        font-size: 18px;
        color: var(--theme-card-text-color);
      }

      p {
        color: var(--theme-secondary-rgb) !important;
      }
    }

    .user_profile_tab {
      height: auto;

      th,
      td {
        color: var(--theme-card-text-color);
      }

      #UserEditProfileForm .row:nth-child(7) .form-group.col-md-12 {
        padding: 0 !important;
      }

      .tab-content {
        padding-top: 20px;

        .profile_img_div {
          max-width: 250px;
          max-height: 250px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .card-profile {
          list-style: none;

          strong {
            color: var(--theme-card-text-color) !important;
          }

          span {
            color: var(--theme-secondary-rgb);
          }
        }

        h5 {
          font-size: 18px;
          color: var(--theme-card-text-color);
        }

        p {
          color: var(--theme-secondary-rgb) !important;
        }
      }

      .user_profile_tab {
        height: auto;

        th,
        td {
          color: var(--theme-card-text-color);
        }

        #UserEditProfileForm .row:nth-child(7) .form-group.col-md-12 {
          padding: 0 !important;
        }

        .tab-content {
          padding-top: 20px;

          .profile_img_div {
            max-width: 250px;
            max-height: 250px;
            overflow: hidden;

            img {
              object-fit: cover;
              object-position: center;
            }
          }

          .table {
            th {
              font-weight: 700;
            }
          }
        }
      }
    }

    .left-panel {
      .nav {
        margin-bottom: 10px;

        .nav-link {
          position: relative;
          padding: 0px 6px 14px;
          font-weight: 600;
          background: none;
          color: var(--theme-card-text-color);

          &::after {
            content: "";
            position: absolute;
            left: 6px;
            bottom: 10px;
            width: 22px;
            height: 2px;
            background: var(--theme-secondary-rgb);
          }

          &:nth-of-type(1) {
            padding-left: 0px;

            &::after {
              left: 0px;
            }
          }
        }

        .nav-link.active {
          color: $primary;

          &::after {
            background: $primary;
          }
        }

        .profile_edit_block {
          width: fit-content;

          .user_profile_div {
            width: 250px;
            height: 250px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }

      .nav-tabs {
        --bs-nav-tabs-border-width: none;
      }

      .active-visitor-wrapper h1 {
        font-size: 60px;
        font-weight: 300;
        color: var(--theme-card-text-color);
        font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
        margin-bottom: 5px;
        line-height: 1;
      }

      .active-visitor-wrapper p {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        color: var(--theme-secondary-rgb);
      }

      .visitor-operating-label {
        color: var(--theme-card-text-color);
        margin: 25px 0;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 700;
      }

      .mg-b-5 {
        color: var(--theme-secondary-rgb);
      }

      .progress {
        height: auto;
        background-color: var(--theme-body-rgb);

        .progress-bar-xs {
          height: 8px;
        }

        .progress-bar-xs:nth-last-child(1) {
          border-radius: 0 50px 50px 0;
        }
      }
    }

    .right-panel {
      .map-title {
        color: var(--theme-card-text-color);
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 700;
      }

      .position-relative {
        width: 100%;
        height: 410px !important;
        padding: 24px;

        #map1 {
          width: 100%;
          height: 100%;

          .jvectormap-container {
            border-radius: 6px;
          }
        }
      }
    }

    .transaction_card .header-padding {
      .box-titles {
        color: var(--theme-card-text-color);
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 700;
      }
    }

    .btn-color {
      padding: 2px 8px;
      background-color: var(--theme-table-cell--hover-bc);
      border-radius: 5px;
      color: var(--theme-card-text-color);

      &:hover {
        background-color: rgba($secondary, 0.3);
      }
    }

    .border-b {
      border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }

    .widget-content {
      .transactions-list {
        margin-bottom: 24px;

        &:nth-last-child(1) {
          margin-bottom: 0px;
        }

        .display-position {
          font-size: 14px;

          .b-avatar {
            // border-radius: 12px !important;
            width: 2.5rem;
            height: 2.5rem;

            .b-avatar-text {
              border-radius: inherit;
              -webkit-mask-image: radial-gradient(#fff, #000);
              text-transform: uppercase;
              white-space: nowrap;
            }

            .b-avatar-custom {
              border-radius: inherit;
              -webkit-mask-image: radial-gradient(#fff, #000);
              text-transform: uppercase;
              white-space: nowrap;
            }
          }

          .t-name h4 {
            font-size: 14px;

            .b-avatar {
              border-radius: 12px !important;
              width: 2.5rem;
              height: 2.5rem;

              .b-avatar-text {
                border-radius: inherit;
                -webkit-mask-image: radial-gradient(#fff, #000);
                text-transform: uppercase;
                white-space: nowrap;
              }

              .b-avatar-custom {
                border-radius: inherit;
                -webkit-mask-image: radial-gradient(#fff, #000);
                text-transform: uppercase;
                white-space: nowrap;
              }
            }

            .t-name h4 {
              font-size: 14px;
              font-weight: 700;
              margin-bottom: 0;
            }

            .t-name p {
              font-size: 12px;
              margin-bottom: 0;
              font-weight: 500;
              color: var(--theme-secondary-rgb);
            }
          }

          .t-name p {
            font-size: 12px;
            margin-bottom: 0;
            font-weight: 500;
            color: var(--theme-secondary-rgb);
          }

          .icon-fill-primary {
            color: #2196f3;
            background-color: #bae7ff;
          }

          .icon-fill-warning {
            color: #e2a03f;
            background-color: #ffeccb;
          }

          .icon-fill-danger {
            color: #e7515a;
            background-color: #ffe1e2;
          }
        }

        .font-color {
          color: var(--theme-secondary-rgb);
        }
      }
    }

    .search-bar {
      .searchform::after {
        content: "\f002";
        position: absolute;
        font-family: "FontAwesome";
        right: 14px;
        top: 2px;
        color: var(--theme-header-form-border);
        font-size: 20px;
        line-height: 20px;
        pointer-events: none;
      }

      .searchform input[type="text"] {
        box-shadow: none;
        font-size: 14px;
        display: block;
        width: 200px;
        color: var(--theme-header-icon-bc);
        outline: 0 !important;
        border-radius: 6px !important;
        background-color: var(--theme-header-form-bg) !important;
        border-color: var(--theme-header-form-border) !important;
      }

      .searchform input[type="submit"] {
        position: absolute;
        top: 5px;
        right: 10px;
        opacity: 0;
        width: 40px;
        height: 40px;
      }
    }

    /**
              * End: Profile page design css
              */
  }

  /**
          * End: content page design css
          */

  .cal-main {
    position: relative;

    .cal-container {
      width: 100%;
      height: auto;

      .calendar-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: var(--theme-body-rgb);
        backdrop-filter: blur(150px);

        .arrow {
          font-size: 1rem;
          cursor: pointer;
          display: flex;
          line-height: 1;
          justify-content: center;
          align-items: center;
          width: 26px;
          height: 26px;
          color: rgb(190, 190, 190);

          &:hover {
            background-color: rgba(255, 255, 255, 0.102);
            border-radius: 50%;
          }
        }

        .calendar-day {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: left;
          overflow: hidden;
        }

        .calendar-time {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: right;
          height: 100%;

          .cal-time {
            font-size: 1rem;
            text-transform: uppercase;
          }
        }

        .cal-month {
          font-size: 1rem;
          text-transform: uppercase;
        }

        .cal-date {
          font-size: 1rem;
          color: rgb(199, 199, 199);
        }
      }

      .calendar-bottom {
        padding: 1rem;
        height: 50px;
        // background-color: var(--theme-table-header--bc);
        backdrop-filter: blur(50px);
        width: 100%;
        height: 100%;
        border-radius: 0 0 6px 6px;

        .cal-weekdays {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          place-items: center;

          span {
            font-size: 1rem;
          }
        }

        .cal-days {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          place-items: center;

          span {
            font-size: 1.2rem;
            width: 32px;
            height: 32px;
            text-align: center;
            border-radius: 20px;
            cursor: pointer;
            transition: all 200ms;
            margin: 4px 0;

            &:hover {
              background-color: rgba(240, 248, 255, 0.573);
            }
          }

          .today {
            background: rgba(194, 194, 194, 0.47);
          }
        }
      }
    }
  }
}


// .apexcharts-svg { 
//   height: 150px !important;
// }

// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// 
// // // //
// // //  navbar scss
/* header section start */
.apexcharts-datalabel-label {
  display: none;
}
#gauge2,
#gauge3,
#gauge4 {
  .apexcharts-datalabel-value {
    display: none;
  }
}

.card-dripdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navbar-expand-lg {
    .navbar-nav {
      .dropdown {
          &:hover {
            >.dropdown-menu {
              display: block;
              margin-top: 0.125em;
              margin-left: 0.125em;
            }
          }
        .dropdown-menu {
          display: none;
        }
      }
    }
  }
}

.dropdown-menu-left {
  transform: translate(-318px, -32px);
}

.dropdown-menu-top {
  transform: translate(-50px, -94px);
}

.dropdown-menu-top2 {
  transform: translate(-317px, -0px);
}
.dropdown-menu-top-sec {
  transform: translate(-114px, -64px);
}

.dropdown-menu-top-third {
  transform: translate(-318px, -202px);
}

.dropdown-toggle {
  &:after {
    display: none;
  }
}

.dropend {
  background-color: var(--theme-body-rgb);
  border-radius: 4px;
	&:hover {
    background-color: var(--theme-light-header--bc);
		>.dropdown-menu {
			display: block;
			margin-top: 0.125em;
			margin-left: 0.125em;
      background-color: var(--theme-body-rgb);
      &:hover {
        background-color: var(--theme-light-header--bc);
      }
      .dropdown-item {
        font-size: 14px;
        border-radius: 4px;
        background-color: var(--theme-body-rgb);
        color: var(--bs-heading-color);
        &:hover {
          background-color: var(--theme-light-header--bc);
        }
      }
		}
	}
  .dropdown-toggle {
    padding: 5px 0;
    font-size: 14px;
    position: relative;
    margin-right: 8px;
    &::after {
      position: absolute;
      transform: rotate(90deg);
      right: 0;
      transition: all .3s ease;
    }
    &:hover {
      &::after {
        transform: rotate(0deg);
      }
    }
  }
}
@media screen and (min-width: 769px) {
  .dropend {
    &:hover {
      >.dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
      }
    }
    .dropdown-toggle {
      margin-left: 0.5em;
    }
  }
}