@{
    // This block allows server-side C# code execution for dynamic content and logic.

    ViewData["HeadTitle"] = "Forms";
    ViewData["ChildTitle"] = "Validation";
    ViewData["x-data"] = "forms";
    ViewBag.ActiveItem = "validation";
}

<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Validation Wrong</h2>
            <form class="space-y-4">
                <div>
                    <input type="text" placeholder="First Name" class="form-input text-danger !border-danger placeholder:text-danger" required />
                    <p class="text-danger mt-1">Please fill the Name</p>
                </div>
                <div>
                    <input type="email" placeholder="Email Type" class="form-input" required />
                </div>
                <div>
                    <input type="password" placeholder="Password" class="form-input" required />
                </div>
                <div>
                    <input type="password" placeholder="Confirm Password" class="form-input" required />
                </div>
                <div>
                    <input type="submit" class="btn bg-purple border border-purple rounded-md text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]" value="Submit">
                </div>
            </form>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Validation Complate</h2>
            <form class="space-y-4">
                <div>
                    <input type="text" placeholder="First Name" class="form-input text-success !border-success placeholder:text-success" required />
                    <p class="text-success mt-1">Please fill the Name</p>
                </div>
                <div>
                    <input type="email" placeholder="Email Type" class="form-input" required />
                </div>
                <div>
                    <input type="password" placeholder="Password" class="form-input" required />
                </div>
                <div>
                    <input type="password" placeholder="Confirm Password" class="form-input" required />
                </div>
                <div>
                    <input type="submit" class="btn bg-purple border border-purple rounded-md text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End All Card -->