// ============================
//     Badge css start
// ============================


.badge {
    &.bg-soft-warning {
      background-color: rgba($warning, 0.2) !important;
    }
    &.bg-soft-success {
      background-color: rgba($success, 0.2) !important;
    }
    &.bg-soft-danger {
      background-color: rgba($danger, 0.2) !important;
    }
    &.bg-soft-light {
      background-color: rgba($primary, 0.2) !important;
    }
  }