.scheme-light {
    --theme-light--bc: #fff;
    --theme-light-header--bc: #fff;
    --theme-light-bc-rgb: #f1f5f9;
    --theme-dark--text-color: #484a56;
    --theme-dark-text-rgb: #484a56;
    --theme-dark--bc: #000;
    --theme-bg-gray-300: #cbd5e1;
    --theme-input--bc: #f9f9f9;
    --theme-border-gray: #e2e8f0;
    --theme-bc-gray: #f8fafc;
    --theme-text-secondary-rgb: #64748b;
    --theme-body-rgb: #f9fbfd;
    --theme-card-text-color: #484a56;
    --theme-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px 0 #0000000f !important;
    --theme-table-header--bc: #e3ebf3;
    --theme-even--tr-bc: #f8f8f8;
    --theme-input--border-color: #eaeaea;
    --theme-table-header-cell--text: #000000;
    --theme-table-cell--text: #000000cc;
    --theme-table-border-color: #0000001a;
    --theme-default-button-rgb: #0f172a;
    --theme-default-button--hover-rgb: #ebebeb;
    --theme-light-selectinput--bc: #fff;
    --theme-table-cell--hover-bc: #f3f3f3;
    --theme-thin-layout--hover: #f4f4f5;
    --theme-thin-layout--hover-text: #0f172a;
    --theme-label--text-color: #4d4d4d;
    --theme-table-pagination--text: #000000cc;
    --theme-table-pagination-disabled--text: #00000066;
    --theme-card-shadow: 0px 0px 4px -3px #000;
    --theme-profile-rgb: #0f172a;
    --theme-header-form-bg: #fff;
    --theme-header-form-border: #e5dede;
    --bs-body-color: #394c5f;
  }