.scheme-dark {
    --theme-dark-rgb: #1e293b;
    --theme-light--bc: #1e293b;
    --theme-light-header--bc: #0b1324;
    --theme-light-bc-rgb: #1e293b;
    --theme-dark--text-color: #f6f6f6;
    --theme-dark-text-rgb: #f6f6f6;
    --theme-dark--bc: #fff;
    --theme-bg-gray-300: #334155;
    --theme-input--bc: #0f172a;
    --theme-border-gray: #374252;
    --theme-bc-gray: #0f172a;
    --theme-text-secondary-rgb: #94a3b8;
    --theme-body-rgb: #0f172a;
    --theme-card-text-color: #ddd;
    --theme-shadow: none !important;
    --theme-table-header--bc: #2b384e;
    --theme-even--tr-bc: #28303c;
    --theme-input--border-color: #2b384e;
    --theme-table-header-cell--text: #ffffff8a;
    --theme-table-cell--text: #ffffffcc;
    --theme-table-border-color: #ffffff1a;
    --theme-default-button-rgb: #f6f6f6;
    --theme-default-button--hover-rgb: #2b384e;
    --theme-light-selectinput--bc: #394454;
    --theme-table-cell--hover-bc: #394454;
    --theme-thin-layout--hover: #2c3344;
    --theme-thin-layout--hover-text: #fff;
    --theme-label--text-color: #ddd;
    --theme-table-pagination--text: #ffffffcc;
    --theme-table-pagination-disabled--text: #ffffff66;
    --theme-profile-rgb: #1e293b;
    --theme-header-form-bg: #fff;
    --theme-header-form-border: #e5dede;
    --bs-body-color: #eaeaea;
  }