<!-- basic-model-start -->
<div class="modal fade" id="exampleModal-1" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Basic Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body pt-3 pb-3">
                <h5>Check First Paragraph</h5>
                <p class="card-text"> Oat cake ice cream candy chocolate cake chocolate cake cotton candy dragée apple
                    pie. Brownie carrot cake candy canes bonbon fruitcake topping halvah. Cake sweet roll cake
                    cheesecake cookie chocolate cake liquorice.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- basic-model-end -->
<!--  Vertically Center  -start -->
<div class="modal fade" id="exampleModal-2" tabindex="1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Vertically Center </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body pt-3 pb-3">
                <h5>Check First Paragraph</h5>
                <p class="card-text"> Oat cake ice cream candy chocolate cake chocolate cake cotton candy dragée apple
                    pie. Brownie carrot cake candy canes bonbon fruitcake topping halvah. Cake sweet roll cake
                    cheesecake cookie chocolate cake liquorice.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- Vertically Center -end -->
<!--  Disabled Backdrop -start -->
<div class="modal fade" id="exampleModal-3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Disabled Click Backdrop</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body pt-3 pb-3">
                <h5>Check First Paragraph</h5>
                <p class="card-text"> Oat cake ice cream candy chocolate cake chocolate cake cotton candy dragée apple
                    pie. Brownie carrot cake candy canes bonbon fruitcake topping halvah. Cake sweet roll cake
                    cheesecake cookie chocolate cake liquorice.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!--  Disabled Backdrop -end -->
<!--  Disabled Animation -start -->
<div class="modal" id="exampleModal-4" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Disabled Animation </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body pt-3 pb-3">
                <h5>Check First Paragraph</h5>
                <p class="card-text"> Oat cake ice cream candy chocolate cake chocolate cake cotton candy dragée apple
                    pie. Brownie carrot cake candy canes bonbon fruitcake topping halvah. Cake sweet roll cake
                    cheesecake cookie chocolate cake liquorice.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!--  Disabled Animation -end -->
<!--  Primary  - start -->
<div class="modal fade" id="exampleModal-5" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary"> Primary </h5>
                <button type="button" class="btn-close text-primary" data-bs-dismiss="modal"
                    aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pb-3 pt-3">Biscuit chocolate cake gummies. Lollipop I love macaroon bear claw
                    caramels. I love marshmallow tiramisu I love fruitcake I love gummi bears. Carrot cake topping
                    liquorice. Pudding caramels liquorice sweet I
                    love. Donut powder cupcake ice cream tootsie roll jelly.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!--  Primary - end -->
<!--   Secondary  - start -->
<div class="modal fade" id="exampleModal-6" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-secondary"> Secondary </h5>
                <button type="button" class="btn-close text-secondary" data-bs-dismiss="modal"
                    aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pb-3 pt-3">Biscuit chocolate cake gummies. Lollipop I love macaroon bear claw
                    caramels. I love marshmallow tiramisu I love fruitcake I love gummi bears. Carrot cake topping
                    liquorice. Pudding caramels liquorice sweet I
                    love. Donut powder cupcake ice cream tootsie roll jelly.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!--   Secondary - end -->
<!--    Success - start -->
<div class="modal fade" id="exampleModal-7" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success"> Success </h5>
                <button type="button" class="btn-close text-success" data-bs-dismiss="modal"
                    aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pb-3 pt-3">Biscuit chocolate cake gummies. Lollipop I love macaroon bear claw
                    caramels. I love marshmallow tiramisu I love fruitcake I love gummi bears. Carrot cake topping
                    liquorice. Pudding caramels liquorice sweet I
                    love. Donut powder cupcake ice cream tootsie roll jelly.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!--  Success - end -->
<!-- Danger - start -->
<div class="modal fade" id="exampleModal-8" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger"> Danger </h5>
                <button type="button" class="btn-close text-danger" data-bs-dismiss="modal"
                    aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pb-3 pt-3">Biscuit chocolate cake gummies. Lollipop I love macaroon bear claw
                    caramels. I love marshmallow tiramisu I love fruitcake I love gummi bears. Carrot cake topping
                    liquorice. Pudding caramels liquorice sweet I
                    love. Donut powder cupcake ice cream tootsie roll jelly.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- Danger - end -->
<!-- Warning - start -->
<div class="modal fade" id="exampleModal-9" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning"> Warning </h5>
                <button type="button" class="btn-close text-warning" data-bs-dismiss="modal"
                    aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pb-3 pt-3">Biscuit chocolate cake gummies. Lollipop I love macaroon bear claw
                    caramels. I love marshmallow tiramisu I love fruitcake I love gummi bears. Carrot cake topping
                    liquorice. Pudding caramels liquorice sweet I
                    love. Donut powder cupcake ice cream tootsie roll jelly.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- Warning - end -->
<!-- Info - start -->
<div class="modal fade" id="exampleModal-10" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info"> Info </h5>
                <button type="button" class="btn-close text-info" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pb-3 pt-3">Biscuit chocolate cake gummies. Lollipop I love macaroon bear claw
                    caramels. I love marshmallow tiramisu I love fruitcake I love gummi bears. Carrot cake topping
                    liquorice. Pudding caramels liquorice sweet I
                    love. Donut powder cupcake ice cream tootsie roll jelly.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- Info - end -->
<!-- Dark - start -->
<div class="modal fade" id="exampleModal-11" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Dark </h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pb-3 pt-3">Biscuit chocolate cake gummies. Lollipop I love macaroon bear claw
                    caramels. I love marshmallow tiramisu I love fruitcake I love gummi bears. Carrot cake topping
                    liquorice. Pudding caramels liquorice sweet I
                    love. Donut powder cupcake ice cream tootsie roll jelly.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- Dark - end -->

<!-- Extra Small - start -->
<div class="modal fade" id="exampleModal-12" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Extra Small Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pb-3 pt-3">Biscuit chocolate cake gummies. Lollipop I love macaroon bear claw
                    caramels. I love marshmallow tiramisu I love fruitcake I love gummi bears. Carrot cake topping
                    liquorice. Pudding caramels liquorice sweet I
                    love. Donut powder cupcake ice cream tootsie roll jelly.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- Extra Small - end -->
<!--  Small Modal  - start -->
<div class="modal fade" id="exampleModal-13" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-sm-c">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Small Modal </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pb-3 pt-3">Biscuit chocolate cake gummies. Lollipop I love macaroon bear claw
                    caramels. I love marshmallow tiramisu I love fruitcake I love gummi bears. Carrot cake topping
                    liquorice. Pudding caramels liquorice sweet I
                    love. Donut powder cupcake ice cream tootsie roll jelly.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- Small Modal - end -->
<!-- Default Modal - start -->
<div class="modal fade" id="exampleModal-14" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Default Modal </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pb-3 pt-3">Biscuit chocolate cake gummies. Lollipop I love macaroon bear claw
                    caramels. I love marshmallow tiramisu I love fruitcake I love gummi bears. Carrot cake topping
                    liquorice. Pudding caramels liquorice sweet I
                    love. Donut powder cupcake ice cream tootsie roll jelly.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- Default Modal - end -->
<!-- Large Modal - start -->
<div class="modal fade" id="exampleModal-15" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Large Modal </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pb-3 pt-3">Biscuit chocolate cake gummies. Lollipop I love macaroon bear claw
                    caramels. I love marshmallow tiramisu I love fruitcake I love gummi bears. Carrot cake topping
                    liquorice. Pudding caramels liquorice sweet I
                    love. Donut powder cupcake ice cream tootsie roll jelly.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- Large Modal - end -->
<!-- Extra Large Modal - start -->
<div class="modal fade" id="exampleModal-16" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Extra Large Modal </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pb-3 pt-3">Biscuit chocolate cake gummies. Lollipop I love macaroon bear claw
                    caramels. I love marshmallow tiramisu I love fruitcake I love gummi bears. Carrot cake topping
                    liquorice. Pudding caramels liquorice sweet I
                    love. Donut powder cupcake ice cream tootsie roll jelly.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- Extra Large Modal - end -->

<!-- Login Form - start -->
<div class="modal fade" id="exampleModal-17" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Login Form </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <form class="pb-3 pt-3">
                    <fieldset class="form-group">
                        <div><label for="email">Email:</label>
                            <input id="email" type="email" placeholder="Email Address" class="form-control">
                        </div>
                    </fieldset>
                    <fieldset class="form-group" id="__BVID__938">
                        <div class="pt-2">
                            <label>Password</label>
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Login</button>
            </div>
        </div>
    </div>
</div>
<!-- Login Form - end -->
<!-- Scrolling Long Content  - start -->
<div class="modal fade" id="exampleModal-18" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Overflowing Content</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text"> Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate cake.
                    Cake fruitcake powder pudding pastry. </p>
                <p class="card-text"> Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate
                    bar. Cotton candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish
                    dessert I love caramels powder.
                </p>
                <p class="card-text"> Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake
                    dessert icing dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes
                    lollipop liquorice chocolate marzipan
                    muffin pie liquorice. </p>
                <p class="card-text"> Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar
                    plum tiramisu. Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie
                    sesame snaps tootsie roll carrot
                    cake soufflé halvah. Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate
                    cake. Cake fruitcake powder pudding pastry. </p>
                <p class="card-text"> Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate
                    bar. Cotton candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish
                    dessert I love caramels powder.
                </p>
                <p class="card-text"> Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake
                    dessert icing dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes
                    lollipop liquorice chocolate marzipan
                    muffin pie liquorice. </p>
                <p class="card-text"> Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar
                    plum tiramisu. Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie
                    sesame snaps tootsie roll carrot
                    cake soufflé halvah. Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate
                    cake. Cake fruitcake powder pudding pastry. </p>
                <p class="card-text"> Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate
                    bar. Cotton candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish
                    dessert I love caramels powder.
                </p>
                <p class="card-text"> Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake
                    dessert icing dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes
                    lollipop liquorice chocolate marzipan
                    muffin pie liquorice. </p>
                <p class="card-text"> Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar
                    plum tiramisu. Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie
                    sesame snaps tootsie roll carrot
                    cake soufflé halvah. Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate
                    cake. Cake fruitcake powder pudding pastry. </p>
                <p class="card-text"> Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate
                    bar. Cotton candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish
                    dessert I love caramels powder.
                </p>
                <p class="card-text"> Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake
                    dessert icing dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes
                    lollipop liquorice chocolate marzipan
                    muffin pie liquorice. </p>
                <p class="card-text"> Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar
                    plum tiramisu. Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie
                    sesame snaps tootsie roll carrot
                    cake soufflé halvah. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- Scrolling Long Content - end -->
<!--  Scrolling Content inside Modal - start -->
<div class="modal fade" id="exampleModal-19" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog-scrollable modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Scrollable Content</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text"> Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate cake.
                    Cake fruitcake powder pudding pastry. </p>
                <p class="card-text"> Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate
                    bar. Cotton candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish
                    dessert I love caramels powder.
                </p>
                <p class="card-text"> Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake
                    dessert icing dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes
                    lollipop liquorice chocolate marzipan
                    muffin pie liquorice. </p>
                <p class="card-text"> Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar
                    plum tiramisu. Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie
                    sesame snaps tootsie roll carrot
                    cake soufflé halvah. Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate
                    cake. Cake fruitcake powder pudding pastry. </p>
                <p class="card-text"> Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate
                    bar. Cotton candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish
                    dessert I love caramels powder.
                </p>
                <p class="card-text"> Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake
                    dessert icing dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes
                    lollipop liquorice chocolate marzipan
                    muffin pie liquorice. </p>
                <p class="card-text"> Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar
                    plum tiramisu. Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie
                    sesame snaps tootsie roll carrot
                    cake soufflé halvah. Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate
                    cake. Cake fruitcake powder pudding pastry. </p>
                <p class="card-text"> Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate
                    bar. Cotton candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish
                    dessert I love caramels powder.
                </p>
                <p class="card-text"> Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake
                    dessert icing dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes
                    lollipop liquorice chocolate marzipan
                    muffin pie liquorice. </p>
                <p class="card-text"> Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar
                    plum tiramisu. Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie
                    sesame snaps tootsie roll carrot
                    cake soufflé halvah. Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate
                    cake. Cake fruitcake powder pudding pastry. </p>
                <p class="card-text"> Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate
                    bar. Cotton candy gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish
                    dessert I love caramels powder.
                </p>
                <p class="card-text"> Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake
                    dessert icing dragée dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes
                    lollipop liquorice chocolate marzipan
                    muffin pie liquorice. </p>
                <p class="card-text"> Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar
                    plum tiramisu. Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie
                    sesame snaps tootsie roll carrot
                    cake soufflé halvah. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- Scrolling Content inside Modal - end -->
<!-- Select2 With Modal - start -->
<div class="modal fade" id="exampleModal-20" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="basicmodal">Basic Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <form class="pt-3 pb-3">
                    <div role="group" class="form-group">
                        <label for="name" class="d-block">Enter Name</label>
                        <input id="name" type="text" placeholder="Enter name" class="form-control">
                    </div>
                    <div class="pt-2">
                        <label for="name" class="d-block">Choose the City</label>
                        <select class="form-select form-select-lg form-control fs-6 single_select">
                            <option value="1" selected>Kowloon</option>
                            <option value="2">New Town </option>
                            <option value="3">Aberdeen</option>
                        </select>
                    </div>
                    <div role="group" class="form-group pt-2">
                        <label for="zip-code" class="d-block">Zip Code</label>
                        <input id="zip-code" type="number" placeholder="Zip Code" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- Select2 With Modal - end -->

<!-- basic-model-start -->
<div class="modal fade" id="exampleModal-21" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Modal Variants</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="pt-3 pb-3">
                    <div class="row mb-1 text-center">
                        <div class="col-3"></div>
                        <div class="col">
                            <p class="m-0">Background</p>
                        </div>
                        <div class="col">
                            <p class="m-0">Text</p>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-3">
                            <p> Header </p>
                        </div>
                        <div class="col">
                            <select class="custom-select">
                                <option value="primary">primary</option>
                                <option value="secondary">secondary</option>
                                <option value="success">success</option>
                                <option value="warning">warning</option>
                                <option value="danger">danger</option>
                                <option value="info">info</option>
                                <option value="light">light</option>
                                <option value="dark">dark</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="custom-select">
                                <option value="primary">primary</option>
                                <option value="secondary">secondary</option>
                                <option value="success">success</option>
                                <option value="warning">warning</option>
                                <option value="danger">danger</option>
                                <option value="info">info</option>
                                <option value="light">light</option>
                                <option value="dark">dark</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-3">
                            <p>Body</p>
                        </div>
                        <div class="col">
                            <select class="custom-select">
                                <option value="primary">primary</option>
                                <option value="secondary">secondary</option>
                                <option value="success">success</option>
                                <option value="warning">warning</option>
                                <option value="danger">danger</option>
                                <option value="info">info</option>
                                <option value="light">light</option>
                                <option value="dark">dark</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="custom-select">
                                <option value="primary">primary</option>
                                <option value="secondary">secondary</option>
                                <option value="success">success</option>
                                <option value="warning">warning</option>
                                <option value="danger">danger</option>
                                <option value="info">info</option>
                                <option value="light">light</option>
                                <option value="dark">dark</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p> Footer </p>
                        </div>
                        <div class="col">
                            <select class="custom-select">
                                <option value="primary">primary</option>
                                <option value="secondary">secondary</option>
                                <option value="success">success</option>
                                <option value="warning">warning</option>
                                <option value="danger">danger</option>
                                <option value="info">info</option>
                                <option value="light">light</option>
                                <option value="dark">dark</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="custom-select">
                                <option value="primary">primary</option>
                                <option value="secondary">secondary</option>
                                <option value="success">success</option>
                                <option value="warning">warning</option>
                                <option value="danger">danger</option>
                                <option value="info">info</option>
                                <option value="light">light</option>
                                <option value="dark">dark</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="justify-content-between modal-footer">
                <p class="card-text mb-0"> Modal Footer Content </p>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- basic-model - end -->
<!-- basic-model-start -->
<div class="modal fade" id="exampleModal-22" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Using v-model property</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pb-3 pt-3"> Bonbon caramels muffin. Chocolate bar oat cake cookie pastry dragée
                    pastry. Carrot cake chocolate tootsie roll chocolate bar candy canes biscuit. Gummies bonbon apple
                    pie fruitcake icing biscuit apple pie jelly-o
                    sweet roll. Toffee sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake. Cookie dessert
                    tart muffin topping donut icing fruitcake. Sweet roll cotton candy dragée danish Candy canes
                    chocolate
                    bar cookie. Gingerbread apple pie oat cake. Carrot cake fruitcake bear claw. Pastry gummi bears
                    marshmallow jelly-o. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- basic-model - end -->
<!-- basic-model-start -->
<div class="modal fade" id="exampleModal-23" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Submit Your Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <form class="pt-3 pb-3" id="inputs">
                    <div role="group" class="form-group">
                        <label for="name-input" class="d-block">Name</label>
                        <div id="input__type">
                            <input id="name-input" type="text" required="required"
                                class="form-control" value="Italian">
                            <div tabindex="-1" role="alert" aria-live="assertive" aria-atomic="true"
                                class="invalid-feedback" id="__BVID__775__BV_feedback_invalid_">Name is required</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- basic-model - end -->
<!-- basic-model-start -->
<div class="modal fade" id="exampleModal-24" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">BootstrapVue</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pt-3 pb-3"> Oat cake ice cream candy chocolate cake chocolate cake cotton candy
                    dragée apple pie. Brownie carrot cake candy canes bonbon fruitcake topping halvah. Cake sweet roll
                    cake cheesecake cookie chocolate cake liquorice.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" disabled="disabled" class="btn btn-secondary">Close</button>
                <button type="button" disabled="disabled" class="btn btn-primary">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- basic-model-end -->
<!--  Simple msgBoxConfirm -start -->
<div class="modal fade" id="exampleModal-25" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="card-text pt-3 pb-3">Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!--  Simple msgBoxConfirm -end -->
<!--  Simple msgBoxConfirm -start -->
<div class="modal fade" id="exampleModal-26" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm-c">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please Confirm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pt-3 pb-3">Please confirm that you want to delete everything.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
<p class="mb-1 mt-2 mt-3"> First modal return value: </p>
<p class="mb-0"> Second modal return value: </p>
<!--  Simple msgBoxConfirm -end -->
<!--  Small Footer Buttons -start -->
<div class="modal fade" id="exampleModal-27" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Small Footer Buttons </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pb-3 pt-3"> Bonbon caramels muffin. Chocolate bar oat cake cookie pastry dragée
                    pastry. Carrot cake chocolate tootsie roll chocolate bar candy canes biscuit. Gummies bonbon apple
                    pie fruitcake icing biscuit apple pie jelly-o
                    sweet roll. Toffee sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake. Cookie dessert
                    tart muffin topping donut icing fruitcake. Sweet roll cotton candy dragée danish Candy canes
                    chocolate
                    bar cookie. Gingerbread apple pie oat cake. Carrot cake fruitcake bear claw. Pastry gummi bears
                    marshmallow jelly-o. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!--  Small Footer Buttons  - end -->
<!--  Small Footer Buttons -start -->
<div class="modal fade" id="exampleModal-28" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Large Footer Buttons </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <p class="card-text pb-3 pt-3"> Bonbon caramels muffin. Chocolate bar oat cake cookie pastry dragée
                    pastry. Carrot cake chocolate tootsie roll chocolate bar candy canes biscuit. Gummies bonbon apple
                    pie fruitcake icing biscuit apple pie jelly-o
                    sweet roll. Toffee sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake. Cookie dessert
                    tart muffin topping donut icing fruitcake. Sweet roll cotton candy dragée danish Candy canes
                    chocolate
                    bar cookie. Gingerbread apple pie oat cake. Carrot cake fruitcake bear claw. Pastry gummi bears
                    marshmallow jelly-o. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!--  Small Footer Buttons  - end -->

 <!-- Multiple modal support-start -->
 <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">First Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body pb-3 pt-3">
                <p>First Modal</p>
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Open second modal</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Second Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body pb-3 pt-3">
                <p>Second Modal</p>
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal"> Open Third Modal </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-sm-c">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Third Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body pb-3 pt-3">
                <p class="m-0">Third Modal</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
<!-- Multiple modal support - end -->

<!-- Opan modal - start -->
<div class="modal fade" id="exampleModal-29" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Using Component Methods</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <h4 class="mt-2 text-center sub-title">Hello From My Modal!</h4>
                <div class="d-grid toggle-btn">
                    <button type="button" class="bg-transparent border-secondary btn btn-primary mt-4" data-bs-dismiss="modal"> Close Me </button>
                    <button type="button" class="bg-transparent btn btn-primary mb-4 mt-3" data-bs-dismiss="modal"> Toggle Me </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Opan modal - end -->
<!-- Toggle modal - start -->
<div class="modal fade" id="exampleModal-30" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Using Component Methods</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <h4 class="mt-2 text-center sub-title">Hello From My Modal!</h4>
                <div class="d-grid toggle-btn">
                    <button type="button" class="bg-transparent border-secondary btn btn-primary mt-4" data-bs-dismiss="modal"> Close Me </button>
                    <button type="button" class="bg-transparent btn btn-primary mb-4 mt-3" data-bs-dismiss="modal"> Toggle Me </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Toggle modal - end -->

