<div class="setting_layout">
  <button class="theme-configuration-btn setting_layout_icon fixed-top d-flex
    align-items-center justify-content-center">
    <i class="fa fa-cog fa-spin fa-3x fa-fw" aria-hidden="true"></i>
  </button>
  <div class="position-fixed moveInRight theme-configuration animation
    top-0 bottom-0 h-100">
    <div class="theme_setting_inner">
      <div class="theme_setting_header d-flex align-items-center
        justify-content-between">
        <div class="theme_setting_inner d-flex align-items-center">
          <i class="fa fa-cog"></i>
          <h5 class="m-0 ms-2">Theme Settings</h5>
        </div>
        <button class="theme-configuration-btn setting_close_btn button d-flex
          align-items-center justify-content-center rounded-circle">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div data-simplebar class="theme_configuration-div">
        <div class="p-sm-4 p-3">
          <div class="theme_setting_div">
            <h6 class="m-0 text-uppercase">Theme</h6>
            <ul class="p-0 d-flex justify-content-between">
              <li>
                <button data-class="theme-default" data-appconfig="theme" class="button">
                  <span class="rounded-circle me-1" style="background-color:
                    #4382e1"></span>
                  Default
                </button>
              </li>
              <li>
                <button data-class="theme-brand" data-appconfig="theme" class="button">
                  <span class="rounded-circle me-1" style="background-color: #2196f3"></span>
                  Brand
                </button>
              </li>
              <li>
                <button data-class="theme-indigo" data-appconfig="theme" class="button">
                  <span class="rounded-circle me-1" style="background-color: #1ca968"></span>
                  Indigo
                </button>
              </li>
              <li>
                <button data-class="theme-rose" data-appconfig="theme" class="button">
                  <span class="rounded-circle me-1" style="background-color: #db4a58"></span>
                  Rose
                </button>
              </li>
              <li>
                <button data-class="theme-purple" data-appconfig="theme" class="button">
                  <span class="rounded-circle me-1" style="background-color: #9333ea"></span>
                  Purple
                </button>
              </li>
              <li>
                <button data-class="theme-dark" data-appconfig="theme" class="button">
                  <span class="rounded-circle me-1" style="background-color: #000"></span>
                  Black
                </button>
              </li>
            </ul>
          </div>
          <hr class="my-sm-5 my-4">
          <div class="theme_setting_div">
            <h6 class="m-0 text-uppercase">Header</h6>
            <ul class="p-0 d-flex justify-content-between">
              <li>
                <button data-class="header-default" data-appconfig="header" class="button">
                  <span class="rounded-circle me-1" style="background-color: #fff"></span>
                  Default
                </button>
              </li>
              <li>
                <button data-class="header-black" data-appconfig="header" class="button">
                  <span class="rounded-circle me-1" style="background-color: #0b1324"></span>
                  Black
                </button>
              </li>
              <li>
                <button data-class="header-gray" data-appconfig="header" class="button">
                  <span class="rounded-circle me-1" style="background-color: #efefef"></span>
                  Gray
                </button>
              </li>
              <li>
                <button data-class="header-blue" data-appconfig="header" class="button">
                  <span class="rounded-circle me-1" style="background-color: #4382e1"></span>
                  blue
                </button>
              </li>
              <li>
                <button data-class="header-brand" data-appconfig="header" class="button">
                  <span class="rounded-circle me-1" style="background-color: #2196f3"></span>
                  Brand
                </button>
              </li>
              <li>
                <button data-class="header-indigo" data-appconfig="header" class="button">
                  <span class="rounded-circle me-1" style="background-color: #1ca968"></span>
                  Indigo
                </button>
              </li>
              <li>
                <button data-class="header-rose" data-appconfig="header" class="button">
                  <span class="rounded-circle me-1" style="background-color: #db4a58"></span>
                  Rose
                </button>
              </li>
              <li>
                <button data-class="header-purple" data-appconfig="header" class="button">
                  <span class="rounded-circle me-1" style="background-color: #9333ea"></span>
                  Purple
                </button>
              </li>
              <li>
                <button data-class="header-dark" data-appconfig="header" class="button">
                  <span class="rounded-circle me-1" style="background-color: #0f172a"></span>
                  Dark
                </button>
              </li>
            </ul>
          </div>
          <hr class="my-sm-5 my-4">
          <div class="theme_setting_div">
            <h6 class="m-0 text-uppercase">Sidebar</h6>
            <ul class="p-0 d-flex justify-content-between">
              <li>
                <button data-class="sidebar-default" data-appconfig="sidebar" class="button">
                  <span class="rounded-circle me-1" style="background-color: #fff"></span>
                  Default
                </button>
              </li>
              <li>
                <button data-class="sidebar-black" data-appconfig="sidebar" class="button">
                  <span class="rounded-circle me-1" style="background-color: #0f172a"></span>
                  Black
                </button>
              </li>
              <li>
                <button data-class="sidebar-gray" data-appconfig="sidebar" class="button">
                  <span class="rounded-circle me-1" style="background-color: #efefef"></span>
                  Gray
                </button>
              </li>
              <li>
                <button data-class="sidebar-blue" data-appconfig="sidebar" class="button">
                  <span class="rounded-circle me-1" style="background-color: #4382e1"></span>
                  blue
                </button>
              </li>
              <li>
                <button data-class="sidebar-brand" data-appconfig="sidebar" class="button">
                  <span class="rounded-circle me-1" style="background-color: #2196f3"></span>
                  Brand
                </button>
              </li>
              <li>
                <button data-class="sidebar-indigo" data-appconfig="sidebar" class="button">
                  <span class="rounded-circle me-1" style="background-color: #1ca968"></span>
                  Indigo
                </button>
              </li>
              <li>
                <button data-class="sidebar-rose" data-appconfig="sidebar" class="button">
                  <span class="rounded-circle me-1" style="background-color: #db4a58"></span>
                  Rose
                </button>
              </li>
              <li>
                <button data-class="sidebar-purple" data-appconfig="sidebar" class="button">
                  <span class="rounded-circle me-1" style="background-color: #9333ea"></span>
                  Purple
                </button>
              </li>
              <li>
                <button data-class="sidebar-dark" data-appconfig="sidebar" class="button">
                  <span class="rounded-circle me-1" style="background-color: #000"></span>
                  Dark
                </button>
              </li>
            </ul>
          </div>
          <hr class="my-sm-5 my-4">
          <div class="theme_setting_div theme_sidebar_bg_setting">
            <h6 class="m-0 text-uppercase">Left Sidebar Bg Image</h6>
            <ul class="p-0 d-flex justify-content-between">
              <li>
                <button data-class="sidebar-bg-1" data-appconfig="sidebar_bg" class="button p-0">
                  <img src="assets/img/sidebar-img1.png" alt="sidebar-image" width="100">
                </button>
              </li>
              <li>
                <button data-class="sidebar-bg-2" data-appconfig="sidebar_bg" class="button p-0">
                  <img src="assets/img/sidebar-img2.png" alt="sidebar-image" width="100">
                </button>
              </li>
              <li>
                <button data-class="sidebar-bg-3" data-appconfig="sidebar_bg" class="button p-0">
                  <img src="assets/img/sidebar-img3.png" alt="sidebar-image" width="100">
                </button>
              </li>
              <li>
                <button data-class="sidebar-bg-4" data-appconfig="sidebar_bg" class="button p-0">
                  <img src="assets/img/sidebar-img4.png" alt="sidebar-image" width="100">
                </button>
              </li>
              <li>
                <button data-class="sidebar-bg-default" data-appconfig="sidebar_bg" class="button p-0">
                  <span>N<br>o<br>n<br>e</span>
                </button>
              </li>
            </ul>
          </div>
          <hr class="my-sm-5 my-4">
          <div class="theme_setting_div">
            <h6 class="m-0 text-uppercase">Scheme</h6>
            <ul class="p-0 d-flex justify-content-revert">
              <li>
                <button data-class="scheme-dark" data-appconfig="scheme" class="button">
                  <i class="fa fa-moon-o me-1"></i>
                  Dark
                </button>
              </li>
              <li>
                <button data-class="scheme-light" data-appconfig="scheme" class="button">
                  <i class="fa fa-sun-o me-1"></i>
                  Light
                </button>
              </li>
            </ul>
          </div>
          <hr class="my-sm-5 my-4">
          <div class="theme_setting_div">
            <h6 class="m-0 text-uppercase">Direction</h6>
            <ul class="p-0 d-flex justify-content-revert">
              <li>
                <button data-class="rtl" data-appconfig="direction" class="button">
                  RTL
                </button>
              </li>
              <li>
                <button data-class="ltr" data-appconfig="direction" class="button">
                  LTR
                </button>
              </li>
            </ul>
          </div>
          <hr class="my-sm-5 my-4">
          <div class="theme_setting_div theme_layout_setting">
            <h6 class="m-0 text-uppercase">Layout</h6>
            <ul class="p-0 d-flex justify-content-between">
              <li>
                <button data-class="layout-empty" data-appconfig="layout" class="button p-0 rounded-0 shadow-none border-0">
                  <span class="d-flex theme_layout_setting_div overflow-hidden rounded-2"></span>
                  <span class="theme_layout_text mt-2">Empty</span>
                </button>
              </li>
              <li>
                <button data-class="layout-classic" data-appconfig="layout" class="button p-0 rounded-0 shadow-none border-0">
                  <span class=" d-block d-flex theme_layout_setting_div overflow-hidden rounded-2">
                    <span class=" d-block leftside_layout">
                      <span class=" d-block mt-3 mx-1">
                        <span class=" d-block h-1 mt-1 rounded-1 bg-gray-300"></span>
                        <span class=" d-block h-1 mt-1 rounded-1 bg-gray-300"></span>
                        <span class=" d-block h-1 mt-1 rounded-1 bg-gray-300"></span>
                        <span class=" d-block h-1 mt-1 rounded-1 bg-gray-300"></span>
                        <span class=" d-block h-1 mt-1 rounded-1 bg-gray-300"></span>
                      </span>
                    </span>
                    <span class=" d-block rightside_layout">
                      <span class=" d-block rightside_header d-flex align-items-center
                        justify-content-end">
                        <span class=" d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                        <span class=" d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                        <span class=" d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                      </span>
                    </span>
                  </span>
                  <span class=" d-block theme_layout_text mt-2">Classic</span>
                </button>
              </li>
              <li>
                <button data-class="layout-classy" data-appconfig="layout" class="button p-0 rounded-0 shadow-none border-0">
                  <span class="d-block d-flex theme_layout_setting_div overflow-hidden
                    rounded-2">
                    <span class="d-block leftside_layout">
                      <span class="admin_round rounded-circle bg-gray-300 mt-2"></span>
                      <span class="d-block mt-1 mx-1">
                        <span class="d-block h-1 mt-1 rounded-1 bg-gray-300"></span>
                        <span class="d-block h-1 mt-1 rounded-1 bg-gray-300"></span>
                        <span class="d-block h-1 mt-1 rounded-1 bg-gray-300"></span>
                        <span class="d-block h-1 mt-1 rounded-1 bg-gray-300"></span>
                      </span>
                    </span>
                    <span class="d-block rightside_layout">
                      <span class="d-block rightside_header d-flex align-items-center
                        justify-content-end">
                        <span class="d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                      </span>
                    </span>
                  </span>
                  <span class="d-block theme_layout_text mt-2">Classy</span>
                </button>
              </li>
              <li>
                <button data-class="layout-compact" data-appconfig="layout" class="button p-0 rounded-0 shadow-none border-0">
                  <span class="d-block d-flex theme_layout_setting_div sidebar_20px
                    overflow-hidden rounded-2">
                    <span class="d-block leftside_layout">
                      <span class="d-block w-3 h-3 mt-1 m-auto rounded-1 bg-gray-300"></span>
                      <span class="d-block mt-2 mx-1">
                        <span class="d-block w-3 h-2.5 mt-1 m-auto rounded-1 bg-gray-300"></span>
                        <span class="d-block w-3 h-2.5 mt-1 m-auto rounded-1 bg-gray-300"></span>
                        <span class="d-block w-3 h-2.5 mt-1 m-auto rounded-1 bg-gray-300"></span>
                      </span>
                    </span>
                    <span class="d-block rightside_layout">
                      <span class="d-block rightside_header d-flex align-items-center
                        justify-content-end">
                        <span class="d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                        <span class="d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                        <span class="d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                      </span>
                    </span>
                  </span>
                  <span class="d-block theme_layout_text mt-2">Compact</span>
                </button>
              </li>
              <li>
                <button data-class="layout-dense" data-appconfig="layout" class="button p-0 rounded-0 shadow-none border-0">
                  <span class="d-block d-flex theme_layout_setting_div sidebar_16px
                    overflow-hidden rounded-2">
                    <span class="d-block leftside_layout">
                      <span class="d-block w-2 h-2 mt-2 m-auto rounded-1 bg-gray-300"></span>
                      <span class="d-block mt-2 mx-1">
                        <span class="d-block w-2 h-2 mt-1 m-auto rounded-1 bg-gray-300"></span>
                        <span class="d-block w-2 h-2 mt-1 m-auto rounded-1 bg-gray-300"></span>
                        <span class="d-block w-2 h-2 mt-1 m-auto rounded-1 bg-gray-300"></span>
                      </span>
                    </span>
                    <span class="d-block rightside_layout">
                      <span class="d-block rightside_header d-flex align-items-center
                        justify-content-end">
                        <span class="d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                        <span class="d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                        <span class="d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                      </span>
                    </span>
                  </span>
                  <span class="d-block theme_layout_text mt-2">Dense</span>
                </button>
              </li>
              <li>
                <button data-class="layout-futuristic" data-appconfig="layout" class="button p-0 rounded-0 shadow-none border-0">
                  <span class="d-block d-flex theme_layout_setting_div overflow-hidden
                    rounded-2">
                    <span class="d-block leftside_layout">
                      <span class="d-block mt-3 mx-1">
                        <span class="d-block h-1 mt-1 rounded-1 bg-gray-300"></span>
                        <span class="d-block h-1 mt-1 rounded-1 bg-gray-300"></span>
                        <span class="d-block h-1 mt-1 rounded-1 bg-gray-300"></span>
                        <span class="d-block mt-4"></span>
                        <span class="d-block h-1 mt-1 rounded-1 bg-gray-300"></span>
                      </span>
                    </span>
                    <span class="d-block rightside_layout">
                      <span class="d-block rightside_header d-flex align-items-center
                        justify-content-end">
                        <span class="d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                        <span class="d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                        <span class="d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                      </span>
                    </span>
                  </span>
                  <span class="d-block theme_layout_text mt-2">Futuristic</span>
                </button>
              </li>
              <li>
                <button data-class="layout-thin" data-appconfig="layout" class="button p-0 rounded-0 shadow-none border-0">
                  <span class="d-block d-flex theme_layout_setting_div sidebar_12px
                    overflow-hidden rounded-2">
                    <span class="d-block leftside_layout">
                      <span class="d-block w-1.5 h-1.5 mt-2 m-auto rounded-1 bg-gray-300"></span>
                      <span class="d-block mt-2">
                        <span class="d-block w-1.5 h-1.5 mt-1 m-auto rounded-1 bg-gray-300"></span>
                        <span class="d-block w-1.5 h-1.5 mt-1 m-auto rounded-1 bg-gray-300"></span>
                        <span class="d-block w-1.5 h-1.5 mt-1 m-auto rounded-1 bg-gray-300"></span>
                        <span class="d-block w-1.5 h-1.5 mt-1 m-auto rounded-1 bg-gray-300"></span>
                        <span class="d-block w-1.5 h-1.5 mt-1 m-auto rounded-1 bg-gray-300"></span>
                      </span>
                    </span>
                    <span class="d-block rightside_layout">
                      <span class="d-block rightside_header d-flex align-items-center
                        justify-content-end">
                        <span class="d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                        <span class="d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                        <span class="d-block w-1 h-1 me-1 rounded-circle bg-gray-300"></span>
                      </span>
                    </span>
                  </span>
                  <span class="d-block theme_layout_text mt-2">Thin</span>
                </button>
              </li>
            </ul>
          </div>
          <hr class="my-sm-5 my-4">
          <div class="theme_setting_div">
            <h6 class="m-0 text-uppercase">Table Designs</h6>
            <ul class="p-0 d-flex justify-content-revert">
              <li>
                <button data-class="table-simple" data-appconfig="table" class="button">
                  Simple
                </button>
              </li>
              <li>
                <button data-class="table-fancy" data-appconfig="table" class="button">
                  Fancy
                </button>
              </li>
            </ul>
          </div>
          <hr class="my-sm-5 my-4">
          <div class="theme_setting_div">
            <h6 class="m-0 text-uppercase">Fonts</h6>
            <ul class="p-0 d-flex justify-content-between">
              <li>
                <button data-class="font-sans" data-appconfig="font" class="button sans-font">
                  Sans-Serif
                </button>
              </li>
              <li>
                <button data-class="font-roboto" data-appconfig="font" class="button roboto-font">
                  Roboto
                </button>
              </li>
              <li>
                <button data-class="font-lato" data-appconfig="font" class="button lato-font">
                  Lato
                </button>
              </li>
              <li>
                <button data-class="font-poppins" data-appconfig="font" class="button poppins-font">
                  Poppins
                </button>
              </li>
            </ul>
          </div>
          <hr class="my-sm-5 my-4">
          <div class="theme_setting_div">
            <h6 class="m-0 text-uppercase">Input</h6>
            <ul class="p-0 d-flex justify-content-revert">
              <li>
                <button data-class="input-normal" data-appconfig="input" class="button">
                  Without Background
                </button>
              </li>
              <li>
                <button data-class="input-background" data-appconfig="input" class="button">
                  With Background
                </button>
              </li>
            </ul>
          </div>
          <hr class="my-sm-5 my-4">
          <div class="theme_setting_div">
            <h6 class="m-0 text-uppercase">Buttons Styles</h6>
            <ul class="p-0 d-flex justify-content-revert">
              <li>
                <button data-class="buttons-simple-1" data-appconfig="buttons" class="button rounded-0 shadow-none">
                  Simple-1
                </button>
              </li>
              <li>
                <button data-class="buttons-simple-2" data-appconfig="buttons" class="button simple-2 shadow-none">
                  Simple-2
                </button>
              </li>
              <li>
                <button data-class="buttons-simple-3" data-appconfig="buttons" class="button simple-3 shadow-none">
                  Simple-3
                </button>
              </li>
              <li>
                <button data-class="buttons-rectangle" data-appconfig="buttons" class="button rounded-0 fancy-rectangle">
                  Fancy Rectangle
                </button>
              </li>
              <li>
                <button data-class="buttons-radius" data-appconfig="buttons" class="button fancy-radius">
                  Fancy Radius
                </button>
              </li>
              <li>
                <button data-class="buttons-round" data-appconfig="buttons" class="button fancy-rounded">
                  Fancy Rounded
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="drawer-overlay theme-drawer-overlay theme-configuration-btn
    position-fixed top-0 bottom-0 end-0 start-0 h-100"></div>
</div>

<script>
  function toggleMenu(e) {
  e.classList.toggle("active");
  document.querySelector("aside").classList.toggle("active");
}
</script>