@page
@model Sliced.Pages.Forms.checkboxModel
@{
    // This block allows server-side C# code execution for dynamic content and logic.

    ViewData["HeadTitle"] = "Forms";
    ViewData["ChildTitle"] = "Checkbox";
    ViewData["x-data"] = "forms";
    ViewBag.ActiveItem = "checkbox";
}
<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Checkbox Default</h2>
            <div class="grid grid-cols-1 gap-3">
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox text-purple" checked />
                    <span>Primary</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox text-info" checked />
                    <span>Info</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox text-success" />
                    <span>Success</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox text-warning" />
                    <span>Warning</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox text-danger" />
                    <span>Danger</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox text-black" />
                    <span>Black</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox text-muted dark:text-darkmuted" />
                    <span>Muted</span>
                </label>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Checkbox Rounded</h2>
            <div class="grid grid-cols-1 gap-3">
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox rounded-full text-purple" checked />
                    <span>Primary</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox rounded-full text-info" checked />
                    <span>Info</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox rounded-full text-success" />
                    <span>Success</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox rounded-full text-warning" />
                    <span>Warning</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox rounded-full text-danger" />
                    <span>Danger</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox rounded-full text-black" />
                    <span>Black</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox rounded-full text-muted dark:text-darkmuted" />
                    <span>Muted</span>
                </label>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Outline</h2>
            <div class="grid grid-cols-1 gap-3">
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox outborder-purple" checked />
                    <span>Primary</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox outborder-info" checked />
                    <span>Info</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox outborder-success" />
                    <span>Success</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox outborder-warning" />
                    <span>Warning</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox outborder-danger" />
                    <span>Danger</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox outborder-black" />
                    <span>Black</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox outborder-muted" />
                    <span>Muted</span>
                </label>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Outline Rounded</h2>
            <div class="grid grid-cols-1 gap-3">
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox outborder-purple rounded-full" checked />
                    <span>Primary</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox outborder-info rounded-full" checked />
                    <span>Info</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox outborder-success rounded-full" />
                    <span>Success</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox outborder-warning rounded-full" />
                    <span>Warning</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox outborder-danger rounded-full" />
                    <span>Danger</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox outborder-black rounded-full" />
                    <span>Black</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox outborder-muted rounded-full" />
                    <span>Muted</span>
                </label>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Checkbox with text color</h2>
            <div class="grid grid-cols-1 gap-3">
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox peer text-purple" checked />
                    <span class="peer-checked:text-purple">Primary</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox peer text-info" checked />
                    <span class="peer-checked:text-info">Info</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox peer text-success" />
                    <span class="peer-checked:text-success">Success</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox peer text-warning" />
                    <span class="peer-checked:text-warning">Warning</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox peer text-danger" />
                    <span class="peer-checked:text-danger">Danger</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox peer text-black" />
                    <span class="peer-checked:text-black">Black</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox peer text-muted" />
                    <span class="peer-checked:text-muted">Muted</span>
                </label>
            </div>
        </div>
        <div class="bg-white border border-black/10 p-5 rounded dark:bg-darklight dark:border-darkborder">
            <h2 class="text-base font-semibold text-black dark:text-white/80 mb-4 capitalize">Outline Checkbox with text color</h2>
            <div class="grid grid-cols-1 gap-3">
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox peer outborder-purple" checked />
                    <span class="peer-checked:text-purple">Primary</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox peer outborder-info" checked />
                    <span class="peer-checked:text-info">Info</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox peer outborder-success" />
                    <span class="peer-checked:text-success">Success</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox peer outborder-warning" />
                    <span class="peer-checked:text-warning">Warning</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox peer outborder-danger" />
                    <span class="peer-checked:text-danger">Danger</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox peer outborder-black" />
                    <span class="peer-checked:text-black">Black</span>
                </label>
                <label class="inline-flex">
                    <input type="checkbox" class="form-checkbox peer outborder-muted" />
                    <span class="peer-checked:text-muted">Muted</span>
                </label>
            </div>
        </div>
    </div>
</div>
<!-- End All Card -->